In [1]:
import holidays

In [2]:
years=[2021,2022,2023,2024,2025]

In [3]:
sl_holidays = holidays.SriLanka(years=years)

In [4]:
print(sl_holidays)

{datetime.date(2021, 1, 14): 'දෙමළ තෛපොංැලල් දිනය', datetime.date(2021, 2, 4): 'නිදහස් සමරු දිනය', datetime.date(2021, 4, 14): 'සිංහල හා දෙමළ අලුත් අවුරුදු දිනය', datetime.date(2021, 4, 13): 'සිංහල හා දෙමළ අලුත් අවුරුදු දිනට පෙර දිනය', datetime.date(2021, 5, 1): 'ලොක කම්කරු දිනය', datetime.date(2021, 3, 11): 'මහ සිවරාත්රි දිනය', datetime.date(2021, 11, 4): 'දීපවාලි උත්සව දිනය', datetime.date(2021, 4, 2): 'මහ සිකුරාදා දිනය', datetime.date(2021, 12, 25): 'නත්තල් උත්සව දිනය', datetime.date(2021, 1, 28): 'දුරුතු පුර පසළොස්වක පෝය දිනය', datetime.date(2021, 2, 26): 'නවම් පුර පසළොස්වක පෝය දිනය', datetime.date(2021, 3, 28): 'මැදින් පුර පසළොස්වක පෝය දිනය', datetime.date(2021, 4, 26): 'බක් පුර පසළොස්වක පෝය දිනය', datetime.date(2021, 5, 26): 'වෙසක් පුර පසළොස්වක පෝය දිනය', datetime.date(2021, 5, 27): 'වෙසක් පුර පසළොස්වක පෝය දිනට පසු දිනය', datetime.date(2021, 6, 24): 'පොසොන් පුර පසළොස්වක පෝය දිනය', datetime.date(2021, 7, 23): 'ඇසල පුර පසළොස්වක පෝය දිනය', datetime.date(2021, 8, 22): 'නිකිණි පුර පසළොස්වක පෝය දිනය', datetime.date(2021, 9, 20): 'බිනර පුර පසළොස්වක පෝය දිනය', datetime.date(2021, 10, 20): 'වප් පුර පසළොස්වක පෝය දිනය', datetime.date(2021, 11, 18): 'ඉල් පුර පසළොස්වක පෝය දිනය', datetime.date(2021, 12, 18): 'උඳුවප් පුර පසළොස්වක පෝය දිනය', datetime.date(2021, 5, 14): 'ඊදුල් ෆීතර්', datetime.date(2021, 7, 21): 'ඊදුල් අල්හා', datetime.date(2021, 10, 19): 'නබි නායකතුමාගේ උපන් දිනය', datetime.date(2022, 1, 14): 'දෙමළ තෛපොංැලල් දිනය', datetime.date(2022, 2, 4): 'නිදහස් සමරු දිනය', datetime.date(2022, 4, 14): 'සිංහල හා දෙමළ අලුත් අවුරුදු දිනය', datetime.date(2022, 4, 13): 'සිංහල හා දෙමළ අලුත් අවුරුදු දිනට පෙර දිනය', datetime.date(2022, 5, 1): 'ලොක කම්කරු දිනය', datetime.date(2022, 3, 1): 'මහ සිවරාත්රි දිනය', datetime.date(2022, 10, 24): 'දීපවාලි උත්සව දිනය', datetime.date(2022, 4, 15): 'මහ සිකුරාදා දිනය', datetime.date(2022, 12, 25): 'නත්තල් උත්සව දිනය', datetime.date(2022, 1, 17): 'දුරුතු පුර පසළොස්වක පෝය දිනය', datetime.date(2022, 2, 16): 'නවම් පුර පසළොස්වක පෝය දිනය', datetime.date(2022, 3, 17): 'මැදින් පුර පසළොස්වක පෝය දිනය', datetime.date(2022, 4, 16): 'බක් පුර පසළොස්වක පෝය දිනය', datetime.date(2022, 5, 15): 'වෙසක් පුර පසළොස්වක පෝය දිනය', datetime.date(2022, 5, 16): 'වෙසක් පුර පසළොස්වක පෝය දිනට පසු දිනය', datetime.date(2022, 6, 14): 'පොසොන් පුර පසළොස්වක පෝය දිනය', datetime.date(2022, 7, 13): 'ඇසල පුර පසළොස්වක පෝය දිනය', datetime.date(2022, 8, 11): 'නිකිණි පුර පසළොස්වක පෝය දිනය', datetime.date(2022, 9, 10): 'බිනර පුර පසළොස්වක පෝය දිනය', datetime.date(2022, 10, 9): 'නබි නායකතුමාගේ උපන් දිනය; වප් පුර පසළොස්වක පෝය දිනය', datetime.date(2022, 11, 7): 'ඉල් පුර පසළොස්වක පෝය දිනය', datetime.date(2022, 12, 7): 'උඳුවප් පුර පසළොස්වක පෝය දිනය', datetime.date(2022, 5, 3): 'ඊදුල් ෆීතර්', datetime.date(2022, 7, 10): 'ඊදුල් අල්හා', datetime.date(2022, 4, 11): 'විශේෂ රජයේ නිවාඩු දිනය', datetime.date(2022, 4, 12): 'විශේෂ රජයේ නිවාඩු දිනය', datetime.date(2022, 5, 2): 'විශේෂ රජයේ නිවාඩු දිනය', datetime.date(2023, 1, 15): 'දෙමළ තෛපොංැලල් දිනය', datetime.date(2023, 2, 4): 'නිදහස් සමරු දිනය', datetime.date(2023, 4, 14): 'සිංහල හා දෙමළ අලුත් අවුරුදු දිනය', datetime.date(2023, 4, 13): 'සිංහල හා දෙමළ අලුත් අවුරුදු දිනට පෙර දිනය', datetime.date(2023, 5, 1): 'ලොක කම්කරු දිනය', datetime.date(2023, 2, 18): 'මහ සිවරාත්රි දිනය', datetime.date(2023, 11, 12): 'දීපවාලි උත්සව දිනය', datetime.date(2023, 4, 7): 'මහ සිකුරාදා දිනය', datetime.date(2023, 12, 25): 'නත්තල් උත්සව දිනය', datetime.date(2023, 1, 6): 'දුරුතු පුර පසළොස්වක පෝය දිනය', datetime.date(2023, 2, 5): 'නවම් පුර පසළොස්වක පෝය දිනය', datetime.date(2023, 3, 6): 'මැදින් පුර පසළොස්වක පෝය දිනය', datetime.date(2023, 4, 5): 'බක් පුර පසළොස්වක පෝය දිනය', datetime.date(2023, 5, 5): 'වෙසක් පුර පසළොස්වක පෝය දිනය', datetime.date(2023, 5, 6): 'වෙසක් පුර පසළොස්වක පෝය දිනට පසු දිනය', datetime.date(2023, 6, 3): 'පොසොන් පුර පසළොස්වක පෝය දිනය', datetime.date(2023, 8, 1): 'ඇසල පුර පසළොස්වක පෝය දිනය', datetime.date(2023, 8, 30): 'නිකිණි පුර පසළොස්වක පෝය දිනය', datetime.date(2023, 9, 29): 'බිනර පුර පසළොස්වක පෝය දිනය', datetime.date(2023, 10, 28): 'වප් පුර පසළොස්වක පෝය දිනය', datetime.date(2023, 11, 26): 'ඉල් පුර පසළොස්වක පෝය දිනය', datetime.date(2023, 12, 26): 'උඳුවප් පුර පසළොස්වක පෝය දිනය', datetime.date(2023, 4, 22): 'ඊදුල් ෆීතර්', datetime.date(2023, 6, 29): 'ඊදුල් අල්හා', datetime.date(2023, 9, 28): 'නබි නායකතුමාගේ උපන් දිනය', datetime.date(2023, 7, 3): 'අධි ඇසල පුර පසළොස්වක පෝය දිනය', datetime.date(2024, 1, 15): 'දෙමළ තෛපොංැලල් දිනය', datetime.date(2024, 2, 4): 'නිදහස් සමරු දිනය', datetime.date(2024, 4, 13): 'සිංහල හා දෙමළ අලුත් අවුරුදු දිනය', datetime.date(2024, 4, 12): 'සිංහල හා දෙමළ අලුත් අවුරුදු දිනට පෙර දිනය', datetime.date(2024, 5, 1): 'ලොක කම්කරු දිනය', datetime.date(2024, 3, 8): 'මහ සිවරාත්රි දිනය', datetime.date(2024, 10, 31): 'දීපවාලි උත්සව දිනය', datetime.date(2024, 3, 29): 'මහ සිකුරාදා දිනය', datetime.date(2024, 12, 25): 'නත්තල් උත්සව දිනය', datetime.date(2024, 1, 25): 'දුරුතු පුර පසළොස්වක පෝය දිනය', datetime.date(2024, 2, 23): 'නවම් පුර පසළොස්වක පෝය දිනය', datetime.date(2024, 3, 24): 'මැදින් පුර පසළොස්වක පෝය දිනය', datetime.date(2024, 4, 23): 'බක් පුර පසළොස්වක පෝය දිනය', datetime.date(2024, 5, 23): 'වෙසක් පුර පසළොස්වක පෝය දිනය', datetime.date(2024, 5, 24): 'වෙසක් පුර පසළොස්වක පෝය දිනට පසු දිනය', datetime.date(2024, 6, 21): 'පොසොන් පුර පසළොස්වක පෝය දිනය', datetime.date(2024, 7, 20): 'ඇසල පුර පසළොස්වක පෝය දිනය', datetime.date(2024, 8, 19): 'නිකිණි පුර පසළොස්වක පෝය දිනය', datetime.date(2024, 9, 17): 'බිනර පුර පසළොස්වක පෝය දිනය', datetime.date(2024, 10, 17): 'වප් පුර පසළොස්වක පෝය දිනය', datetime.date(2024, 11, 15): 'ඉල් පුර පසළොස්වක පෝය දිනය', datetime.date(2024, 12, 14): 'උඳුවප් පුර පසළොස්වක පෝය දිනය', datetime.date(2024, 4, 11): 'ඊදුල් ෆීතර්', datetime.date(2024, 6, 17): 'ඊදුල් අල්හා', datetime.date(2024, 9, 16): 'නබි නායකතුමාගේ උපන් දිනය', datetime.date(2024, 4, 15): 'විශේෂ රජයේ නිවාඩු දිනය', datetime.date(2024, 9, 29): 'විශේෂ රජයේ නිවාඩු දිනය', datetime.date(2025, 1, 14): 'දෙමළ තෛපොංැලල් දිනය', datetime.date(2025, 2, 4): 'නිදහස් සමරු දිනය', datetime.date(2025, 4, 14): 'සිංහල හා දෙමළ අලුත් අවුරුදු දිනය', datetime.date(2025, 4, 13): 'සිංහල හා දෙමළ අලුත් අවුරුදු දිනට පෙර දිනය', datetime.date(2025, 5, 1): 'ලොක කම්කරු දිනය', datetime.date(2025, 2, 26): 'මහ සිවරාත්රි දිනය', datetime.date(2025, 10, 20): 'දීපවාලි උත්සව දිනය', datetime.date(2025, 4, 18): 'මහ සිකුරාදා දිනය', datetime.date(2025, 12, 25): 'නත්තල් උත්සව දිනය', datetime.date(2025, 1, 13): 'දුරුතු පුර පසළොස්වක පෝය දිනය', datetime.date(2025, 2, 12): 'නවම් පුර පසළොස්වක පෝය දිනය', datetime.date(2025, 3, 13): 'මැදින් පුර පසළොස්වක පෝය දිනය', datetime.date(2025, 4, 12): 'බක් පුර පසළොස්වක පෝය දිනය', datetime.date(2025, 5, 12): 'වෙසක් පුර පසළොස්වක පෝය දිනය', datetime.date(2025, 5, 13): 'වෙසක් පුර පසළොස්වක පෝය දිනට පසු දිනය', datetime.date(2025, 6, 10): 'පොසොන් පුර පසළොස්වක පෝය දිනය', datetime.date(2025, 7, 10): 'ඇසල පුර පසළොස්වක පෝය දිනය', datetime.date(2025, 8, 8): 'නිකිණි පුර පසළොස්වක පෝය දිනය', datetime.date(2025, 9, 7): 'බිනර පුර පසළොස්වක පෝය දිනය', datetime.date(2025, 10, 6): 'වප් පුර පසළොස්වක පෝය දිනය', datetime.date(2025, 11, 5): 'ඉල් පුර පසළොස්වක පෝය දිනය', datetime.date(2025, 12, 4): 'උඳුවප් පුර පසළොස්වක පෝය දිනය', datetime.date(2025, 3, 31): 'ඊදුල් ෆීතර්', datetime.date(2025, 6, 7): 'ඊදුල් අල්හා', datetime.date(2025, 9, 5): 'නබි නායකතුමාගේ උපන් දිනය'}

In [5]:
holiday_list=sl_holidays

In [6]:
print(holiday_list)

{datetime.date(2021, 1, 14): 'දෙමළ තෛපොංැලල් දිනය', datetime.date(2021, 2, 4): 'නිදහස් සමරු දිනය', datetime.date(2021, 4, 14): 'සිංහල හා දෙමළ අලුත් අවුරුදු දිනය', datetime.date(2021, 4, 13): 'සිංහල හා දෙමළ අලුත් අවුරුදු දිනට පෙර දිනය', datetime.date(2021, 5, 1): 'ලොක කම්කරු දිනය', datetime.date(2021, 3, 11): 'මහ සිවරාත්රි දිනය', datetime.date(2021, 11, 4): 'දීපවාලි උත්සව දිනය', datetime.date(2021, 4, 2): 'මහ සිකුරාදා දිනය', datetime.date(2021, 12, 25): 'නත්තල් උත්සව දිනය', datetime.date(2021, 1, 28): 'දුරුතු පුර පසළොස්වක පෝය දිනය', datetime.date(2021, 2, 26): 'නවම් පුර පසළොස්වක පෝය දිනය', datetime.date(2021, 3, 28): 'මැදින් පුර පසළොස්වක පෝය දිනය', datetime.date(2021, 4, 26): 'බක් පුර පසළොස්වක පෝය දිනය', datetime.date(2021, 5, 26): 'වෙසක් පුර පසළොස්වක පෝය දිනය', datetime.date(2021, 5, 27): 'වෙසක් පුර පසළොස්වක පෝය දිනට පසු දිනය', datetime.date(2021, 6, 24): 'පොසොන් පුර පසළොස්වක පෝය දිනය', datetime.date(2021, 7, 23): 'ඇසල පුර පසළොස්වක පෝය දිනය', datetime.date(2021, 8, 22): 'නිකිණි පුර පසළොස්වක පෝය දිනය', datetime.date(2021, 9, 20): 'බිනර පුර පසළොස්වක පෝය දිනය', datetime.date(2021, 10, 20): 'වප් පුර පසළොස්වක පෝය දිනය', datetime.date(2021, 11, 18): 'ඉල් පුර පසළොස්වක පෝය දිනය', datetime.date(2021, 12, 18): 'උඳුවප් පුර පසළොස්වක පෝය දිනය', datetime.date(2021, 5, 14): 'ඊදුල් ෆීතර්', datetime.date(2021, 7, 21): 'ඊදුල් අල්හා', datetime.date(2021, 10, 19): 'නබි නායකතුමාගේ උපන් දිනය', datetime.date(2022, 1, 14): 'දෙමළ තෛපොංැලල් දිනය', datetime.date(2022, 2, 4): 'නිදහස් සමරු දිනය', datetime.date(2022, 4, 14): 'සිංහල හා දෙමළ අලුත් අවුරුදු දිනය', datetime.date(2022, 4, 13): 'සිංහල හා දෙමළ අලුත් අවුරුදු දිනට පෙර දිනය', datetime.date(2022, 5, 1): 'ලොක කම්කරු දිනය', datetime.date(2022, 3, 1): 'මහ සිවරාත්රි දිනය', datetime.date(2022, 10, 24): 'දීපවාලි උත්සව දිනය', datetime.date(2022, 4, 15): 'මහ සිකුරාදා දිනය', datetime.date(2022, 12, 25): 'නත්තල් උත්සව දිනය', datetime.date(2022, 1, 17): 'දුරුතු පුර පසළොස්වක පෝය දිනය', datetime.date(2022, 2, 16): 'නවම් පුර පසළොස්වක පෝය දිනය', datetime.date(2022, 3, 17): 'මැදින් පුර පසළොස්වක පෝය දිනය', datetime.date(2022, 4, 16): 'බක් පුර පසළොස්වක පෝය දිනය', datetime.date(2022, 5, 15): 'වෙසක් පුර පසළොස්වක පෝය දිනය', datetime.date(2022, 5, 16): 'වෙසක් පුර පසළොස්වක පෝය දිනට පසු දිනය', datetime.date(2022, 6, 14): 'පොසොන් පුර පසළොස්වක පෝය දිනය', datetime.date(2022, 7, 13): 'ඇසල පුර පසළොස්වක පෝය දිනය', datetime.date(2022, 8, 11): 'නිකිණි පුර පසළොස්වක පෝය දිනය', datetime.date(2022, 9, 10): 'බිනර පුර පසළොස්වක පෝය දිනය', datetime.date(2022, 10, 9): 'නබි නායකතුමාගේ උපන් දිනය; වප් පුර පසළොස්වක පෝය දිනය', datetime.date(2022, 11, 7): 'ඉල් පුර පසළොස්වක පෝය දිනය', datetime.date(2022, 12, 7): 'උඳුවප් පුර පසළොස්වක පෝය දිනය', datetime.date(2022, 5, 3): 'ඊදුල් ෆීතර්', datetime.date(2022, 7, 10): 'ඊදුල් අල්හා', datetime.date(2022, 4, 11): 'විශේෂ රජයේ නිවාඩු දිනය', datetime.date(2022, 4, 12): 'විශේෂ රජයේ නිවාඩු දිනය', datetime.date(2022, 5, 2): 'විශේෂ රජයේ නිවාඩු දිනය', datetime.date(2023, 1, 15): 'දෙමළ තෛපොංැලල් දිනය', datetime.date(2023, 2, 4): 'නිදහස් සමරු දිනය', datetime.date(2023, 4, 14): 'සිංහල හා දෙමළ අලුත් අවුරුදු දිනය', datetime.date(2023, 4, 13): 'සිංහල හා දෙමළ අලුත් අවුරුදු දිනට පෙර දිනය', datetime.date(2023, 5, 1): 'ලොක කම්කරු දිනය', datetime.date(2023, 2, 18): 'මහ සිවරාත්රි දිනය', datetime.date(2023, 11, 12): 'දීපවාලි උත්සව දිනය', datetime.date(2023, 4, 7): 'මහ සිකුරාදා දිනය', datetime.date(2023, 12, 25): 'නත්තල් උත්සව දිනය', datetime.date(2023, 1, 6): 'දුරුතු පුර පසළොස්වක පෝය දිනය', datetime.date(2023, 2, 5): 'නවම් පුර පසළොස්වක පෝය දිනය', datetime.date(2023, 3, 6): 'මැදින් පුර පසළොස්වක පෝය දිනය', datetime.date(2023, 4, 5): 'බක් පුර පසළොස්වක පෝය දිනය', datetime.date(2023, 5, 5): 'වෙසක් පුර පසළොස්වක පෝය දිනය', datetime.date(2023, 5, 6): 'වෙසක් පුර පසළොස්වක පෝය දිනට පසු දිනය', datetime.date(2023, 6, 3): 'පොසොන් පුර පසළොස්වක පෝය දිනය', datetime.date(2023, 8, 1): 'ඇසල පුර පසළොස්වක පෝය දිනය', datetime.date(2023, 8, 30): 'නිකිණි පුර පසළොස්වක පෝය දිනය', datetime.date(2023, 9, 29): 'බිනර පුර පසළොස්වක පෝය දිනය', datetime.date(2023, 10, 28): 'වප් පුර පසළොස්වක පෝය දිනය', datetime.date(2023, 11, 26): 'ඉල් පුර පසළොස්වක පෝය දිනය', datetime.date(2023, 12, 26): 'උඳුවප් පුර පසළොස්වක පෝය දිනය', datetime.date(2023, 4, 22): 'ඊදුල් ෆීතර්', datetime.date(2023, 6, 29): 'ඊදුල් අල්හා', datetime.date(2023, 9, 28): 'නබි නායකතුමාගේ උපන් දිනය', datetime.date(2023, 7, 3): 'අධි ඇසල පුර පසළොස්වක පෝය දිනය', datetime.date(2024, 1, 15): 'දෙමළ තෛපොංැලල් දිනය', datetime.date(2024, 2, 4): 'නිදහස් සමරු දිනය', datetime.date(2024, 4, 13): 'සිංහල හා දෙමළ අලුත් අවුරුදු දිනය', datetime.date(2024, 4, 12): 'සිංහල හා දෙමළ අලුත් අවුරුදු දිනට පෙර දිනය', datetime.date(2024, 5, 1): 'ලොක කම්කරු දිනය', datetime.date(2024, 3, 8): 'මහ සිවරාත්රි දිනය', datetime.date(2024, 10, 31): 'දීපවාලි උත්සව දිනය', datetime.date(2024, 3, 29): 'මහ සිකුරාදා දිනය', datetime.date(2024, 12, 25): 'නත්තල් උත්සව දිනය', datetime.date(2024, 1, 25): 'දුරුතු පුර පසළොස්වක පෝය දිනය', datetime.date(2024, 2, 23): 'නවම් පුර පසළොස්වක පෝය දිනය', datetime.date(2024, 3, 24): 'මැදින් පුර පසළොස්වක පෝය දිනය', datetime.date(2024, 4, 23): 'බක් පුර පසළොස්වක පෝය දිනය', datetime.date(2024, 5, 23): 'වෙසක් පුර පසළොස්වක පෝය දිනය', datetime.date(2024, 5, 24): 'වෙසක් පුර පසළොස්වක පෝය දිනට පසු දිනය', datetime.date(2024, 6, 21): 'පොසොන් පුර පසළොස්වක පෝය දිනය', datetime.date(2024, 7, 20): 'ඇසල පුර පසළොස්වක පෝය දිනය', datetime.date(2024, 8, 19): 'නිකිණි පුර පසළොස්වක පෝය දිනය', datetime.date(2024, 9, 17): 'බිනර පුර පසළොස්වක පෝය දිනය', datetime.date(2024, 10, 17): 'වප් පුර පසළොස්වක පෝය දිනය', datetime.date(2024, 11, 15): 'ඉල් පුර පසළොස්වක පෝය දිනය', datetime.date(2024, 12, 14): 'උඳුවප් පුර පසළොස්වක පෝය දිනය', datetime.date(2024, 4, 11): 'ඊදුල් ෆීතර්', datetime.date(2024, 6, 17): 'ඊදුල් අල්හා', datetime.date(2024, 9, 16): 'නබි නායකතුමාගේ උපන් දිනය', datetime.date(2024, 4, 15): 'විශේෂ රජයේ නිවාඩු දිනය', datetime.date(2024, 9, 29): 'විශේෂ රජයේ නිවාඩු දිනය', datetime.date(2025, 1, 14): 'දෙමළ තෛපොංැලල් දිනය', datetime.date(2025, 2, 4): 'නිදහස් සමරු දිනය', datetime.date(2025, 4, 14): 'සිංහල හා දෙමළ අලුත් අවුරුදු දිනය', datetime.date(2025, 4, 13): 'සිංහල හා දෙමළ අලුත් අවුරුදු දිනට පෙර දිනය', datetime.date(2025, 5, 1): 'ලොක කම්කරු දිනය', datetime.date(2025, 2, 26): 'මහ සිවරාත්රි දිනය', datetime.date(2025, 10, 20): 'දීපවාලි උත්සව දිනය', datetime.date(2025, 4, 18): 'මහ සිකුරාදා දිනය', datetime.date(2025, 12, 25): 'නත්තල් උත්සව දිනය', datetime.date(2025, 1, 13): 'දුරුතු පුර පසළොස්වක පෝය දිනය', datetime.date(2025, 2, 12): 'නවම් පුර පසළොස්වක පෝය දිනය', datetime.date(2025, 3, 13): 'මැදින් පුර පසළොස්වක පෝය දිනය', datetime.date(2025, 4, 12): 'බක් පුර පසළොස්වක පෝය දිනය', datetime.date(2025, 5, 12): 'වෙසක් පුර පසළොස්වක පෝය දිනය', datetime.date(2025, 5, 13): 'වෙසක් පුර පසළොස්වක පෝය දිනට පසු දිනය', datetime.date(2025, 6, 10): 'පොසොන් පුර පසළොස්වක පෝය දිනය', datetime.date(2025, 7, 10): 'ඇසල පුර පසළොස්වක පෝය දිනය', datetime.date(2025, 8, 8): 'නිකිණි පුර පසළොස්වක පෝය දිනය', datetime.date(2025, 9, 7): 'බිනර පුර පසළොස්වක පෝය දිනය', datetime.date(2025, 10, 6): 'වප් පුර පසළොස්වක පෝය දිනය', datetime.date(2025, 11, 5): 'ඉල් පුර පසළොස්වක පෝය දිනය', datetime.date(2025, 12, 4): 'උඳුවප් පුර පසළොස්වක පෝය දිනය', datetime.date(2025, 3, 31): 'ඊදුල් ෆීතර්', datetime.date(2025, 6, 7): 'ඊදුල් අල්හා', datetime.date(2025, 9, 5): 'නබි නායකතුමාගේ උපන් දිනය'}

In [7]:
import pandas as pd

holiday_list = [(date, name) for date, name in sl_holidays.items()]
holiday_df = pd.DataFrame(holiday_list, columns=['date', 'holiday_name'])
holiday_df['date'] = pd.to_datetime(holiday_df['date'])
holiday_df.head()

        date                               holiday_name
0 2021-01-14                        දෙමළ තෛපොංැලල් දිනය
1 2021-02-04                           නිදහස් සමරු දිනය
2 2021-04-14           සිංහල හා දෙමළ අලුත් අවුරුදු දිනය
3 2021-04-13  සිංහල හා දෙමළ අලුත් අවුරුදු දිනට පෙර දිනය
4 2021-05-01                            ලොක කම්කරු දිනය

In [8]:
holiday_df.tail()

          date                  holiday_name
125 2025-11-05     ඉල් පුර පසළොස්වක පෝය දිනය
126 2025-12-04  උඳුවප් පුර පසළොස්වක පෝය දිනය
127 2025-03-31                   ඊදුල් ෆීතර්
128 2025-06-07                   ඊදුල් අල්හා
129 2025-09-05      නබි නායකතුමාගේ උපන් දිනය

In [9]:
holiday_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          130 non-null    datetime64[ns]
 1   holiday_name  130 non-null    object
dtypes: datetime64[ns](1), object(1)
memory usage: 2.2+ KB

In [10]:
staff_df=pd.read_csv("staffing_train.csv")

In [11]:
print(staff_df.head())

         date section_id  employees_on_duty  total_task_time_minutes
0  2021-01-01    SEC-001                  1               834.569483
1  2021-01-01    SEC-002                  4              1525.368990
2  2021-01-01    SEC-003                  2               662.095279
3  2021-01-01    SEC-004                  4              1499.112620
4  2021-01-01    SEC-005                  3              1238.533073

In [12]:
staff_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5802 entries, 0 to 5801
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     5802 non-null   object
 1   section_id               5802 non-null   object
 2   employees_on_duty        5802 non-null   int64
 3   total_task_time_minutes  5802 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 181.4+ KB

In [13]:
staff_df['date']=pd.to_datetime(staff_df['date'])

In [14]:
staff_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5802 entries, 0 to 5801
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     5802 non-null   datetime64[ns]
 1   section_id               5802 non-null   object
 2   employees_on_duty        5802 non-null   int64
 3   total_task_time_minutes  5802 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 181.4+ KB

In [15]:
import numpy as np
from datetime import datetime, timedelta

# Generate all dates from 2021-01-01 to 2025-12-31
start_date = datetime(2021, 1, 1)
end_date = datetime(2025, 12, 31)
all_dates = pd.date_range(start=start_date, end=end_date)

# Filter weekends (Saturday=5, Sunday=6)
weekend_dates = all_dates[all_dates.weekday.isin([5, 6])]
weekend_df = pd.DataFrame({'date': weekend_dates})
weekend_df['weekday'] = weekend_df['date'].dt.day_name()
weekend_df.head()

        date   weekday
0 2021-01-02  Saturday
1 2021-01-03    Sunday
2 2021-01-09  Saturday
3 2021-01-10    Sunday
4 2021-01-16  Saturday

In [21]:
print(staff_df.head(20))

         date section_id  employees_on_duty  total_task_time_minutes
0  2021-01-01    SEC-001                  1               834.569483
1  2021-01-01    SEC-002                  4              1525.368990
2  2021-01-01    SEC-003                  2               662.095279
3  2021-01-01    SEC-004                  4              1499.112620
4  2021-01-01    SEC-005                  3              1238.533073
5  2021-01-01    SEC-006                 11              4283.154645
6  2021-01-04    SEC-001                  1               767.698506
7  2021-01-04    SEC-002                  7              2717.770275
8  2021-01-04    SEC-003                  6              2485.334696
9  2021-01-04    SEC-004                  6              2097.884599
10 2021-01-04    SEC-005                  4              1556.520829
11 2021-01-04    SEC-006                  6              1873.923819
12 2021-01-05    SEC-001                  4              1530.652495
13 2021-01-05    SEC-002                  6              2177.474405
14 2021-01-05    SEC-003                  3               459.171861
15 2021-01-05    SEC-004                  4              1138.464777
16 2021-01-05    SEC-005                  6              2411.319418
17 2021-01-05    SEC-006                  5              1933.867596
18 2021-01-06    SEC-001                  2               481.229090
19 2021-01-06    SEC-002                  5              1814.401207

In [22]:
# Find dates in staff_df that are holidays or weekends, and print details
staff_dates = set(staff_df['date'])
holiday_dates = set(holiday_df['date'])
weekend_dates_set = set(weekend_df['date'])
result = []
for date in staff_dates:
    info = {'date': date.strftime('%Y-%m-%d')}
    if date in holiday_dates:
        holiday_name = holiday_df.loc[holiday_df['date'] == date, 'holiday_name'].values[0]
        info['type'] = 'Holiday'
        info['detail'] = holiday_name
    elif date in weekend_dates_set:
        weekday = weekend_df.loc[weekend_df['date'] == date, 'weekday'].values[0]
        info['type'] = 'Weekend'
        info['detail'] = weekday
    else:
        continue  # Only interested in holidays or weekends
    result.append(info)
if result:
    print('Date | Type | Detail')
    for r in result:
        print(f"{r['date']} | {r['type']} | {r['detail']}")
else:
    print('No staff dates found that are holidays or weekends.')

Date | Type | Detail
2023-09-29 | Holiday | බිනර පුර පසළොස්වක පෝය දිනය
2022-05-02 | Holiday | විශේෂ රජයේ නිවාඩු දිනය
2023-06-29 | Holiday | ඊදුල් අල්හා
2023-08-30 | Holiday | නිකිණි පුර පසළොස්වක පෝය දිනය
2023-03-06 | Holiday | මැදින් පුර පසළොස්වක පෝය දිනය

In [26]:
# Print dates not present in staff_df, holiday_df, or weekend_df, only for years 2021-2024
all_dates_2021_2024 = [d for d in all_dates if d.year < 2025]
all_dates_set = set(all_dates_2021_2024)
staff_dates_set = set(staff_df['date'])
holiday_dates_set = set(holiday_df['date'])
weekend_dates_set = set(weekend_df['date'])
excluded_dates = staff_dates_set | holiday_dates_set | weekend_dates_set
missing_dates = sorted(list(all_dates_set - excluded_dates))
if missing_dates:
    print('Dates not present in staff, holiday, or weekend datasets (2021-2024):')
    for d in missing_dates:
        print(d.strftime('%Y-%m-%d'))
else:
    print('All dates are present in at least one of the datasets for 2021-2024.')

Dates not present in staff, holiday, or weekend datasets (2021-2024):
2021-04-12
2022-10-10
2022-12-26
2023-01-16

In [27]:
# Create an empty DataFrame for web holiday data, waiting for user input
import pandas as pd
web_holiday_df = pd.DataFrame(columns=['date', 'holiday_name'])
web_holiday_df.head()

Empty DataFrame
Columns: [date, holiday_name]
Index: []

In [28]:
# Populate web_holiday_df with Sri Lanka holidays for 2021-2025
web_holiday_data = [
    # 2021 Holidays
    ('2021-01-14', 'Tamil Thai Pongal Day'),
    ('2021-01-28', 'Duruthu Full Moon Poya'),
    ('2021-02-04', 'National Day'),
    ('2021-02-26', 'Navam Full Moon Poya'),
    ('2021-03-11', 'Mahasivarathri Day'),
    ('2021-03-28', 'Madin Full Moon Poya'),
    ('2021-04-02', 'Good Friday'),
    ('2021-04-12', 'Sinhala and Tamil New Year Holiday'),
    ('2021-04-13', 'Sinhala and Tamil New Year Eve'),
    ('2021-04-14', 'Sinhala and Tamil New Year'),
    ('2021-04-26', 'Bak Full Moon Poya'),
    ('2021-05-01', 'Labour Day'),
    ('2021-05-14', 'Id-Ul-Fitr (Ramazan Festival Day)'),
    ('2021-05-24', 'Special Public Holiday'),
    ('2021-05-25', 'Special Public Holiday'),
    ('2021-05-26', 'Vesak Full Moon Poya'),
    ('2021-05-27', 'Vesak Full Moon Poya Holiday'),
    ('2021-06-24', 'Poson Full Moon Poya'),
    ('2021-07-21', 'Idul Adha'),
    ('2021-07-23', 'Esala Full Moon Poya'),
    ('2021-08-22', 'Nikini Full Moon Poya'),
    ('2021-09-20', 'Binara Full Moon Poya'),
    ('2021-10-19', 'Milad-Un-Nabi'),
    ('2021-10-20', 'Vap Full Moon Poya'),
    ('2021-11-04', 'Deepavali Festival Day'),
    ('2021-11-18', 'Ill Full Moon Poya'),
    ('2021-12-18', 'Unduvap Full Moon Poya'),
    ('2021-12-25', 'Christmas Day'),
    # 2022 Holidays
    ('2022-01-14', 'Tamil Thai Pongal Day'),
    ('2022-01-17', 'Duruthu Full Moon Poya'),
    ('2022-02-04', 'National Day'),
    ('2022-02-16', 'Navam Full Moon Poya'),
    ('2022-03-01', 'Mahasivarathri Day'),
    ('2022-03-17', 'Madin Full Moon Poya'),
    ('2022-04-11', 'Special Public Holiday'),
    ('2022-04-12', 'Special Public Holiday'),
    ('2022-04-13', 'Sinhala and Tamil New Year Eve'),
    ('2022-04-14', 'Sinhala and Tamil New Year'),
    ('2022-04-15', 'Good Friday'),
    ('2022-04-16', 'Bak Full Moon Poya'),
    ('2022-05-01', 'Labour Day'),
    ('2022-05-02', 'Labour Day (in lieu)'),
    ('2022-05-03', 'Id-Ul-Fitr'),
    ('2022-05-15', 'Vesak Full Moon Poya'),
    ('2022-05-16', 'Vesak Full Moon Poya Holiday'),
    ('2022-06-13', 'Special Public Holiday'),
    ('2022-06-14', 'Poson Full Moon Poya'),
    ('2022-06-17', 'Sri Lanka Friday Holiday'),
    ('2022-06-24', 'Sri Lanka Friday Holiday'),
    ('2022-07-01', 'Sri Lanka Friday Holiday'),
    ('2022-07-08', 'Sri Lanka Friday Holiday'),
    ('2022-07-10', 'Idul Adha'),
    ('2022-07-13', 'Esala Full Moon Poya'),
    ('2022-07-15', 'Sri Lanka Friday Holiday'),
    ('2022-07-22', 'Sri Lanka Friday Holiday'),
    ('2022-07-29', 'Sri Lanka Friday Holiday'),
    ('2022-08-11', 'Nikini Full Moon Poya'),
    ('2022-09-10', 'Binara Full Moon Poya'),
    ('2022-09-19', 'Special Public Holiday'),
    ('2022-10-09', 'Vap Full Moon Poya'),
    ('2022-10-09', 'Milad-Un-Nabi'),
    ('2022-10-10', 'Milad-Un-Nabi (in lieu)'),
    ('2022-10-24', 'Deepavali Festival Day'),
    ('2022-11-07', 'Ill Full Moon Poya'),
    ('2022-12-07', 'Unduvap Full Moon Poya'),
    ('2022-12-25', 'Christmas Day'),
    ('2022-12-26', 'Special Public Holiday (in lieu)'),
    # 2023 Holidays
    ('2023-01-06', 'Duruthu Full Moon Poya'),
    ('2023-01-15', 'Tamil Thai Pongal Day'),
    ('2023-02-04', 'National Day'),
    ('2023-02-05', 'Navam Full Moon Poya'),
    ('2023-02-18', 'Mahasivarathri Day'),
    ('2023-03-06', 'Madin Full Moon Poya'),
    ('2023-04-05', 'Bak Full Moon Poya'),
    ('2023-04-07', 'Good Friday'),
    ('2023-04-13', 'Sinhala and Tamil New Year Eve'),
    ('2023-04-14', 'Sinhala and Tamil New Year'),
    ('2023-04-22', 'Id-Ul-Fitr'),
    ('2023-05-01', 'Labour Day'),
    ('2023-05-05', 'Vesak Full Moon Poya'),
    ('2023-05-06', 'Vesak Full Moon Poya Holiday'),
    ('2023-06-03', 'Poson Full Moon Poya'),
    ('2023-06-29', 'Idul Adha'),
    ('2023-07-03', 'Esala Full Moon Poya'),
    ('2023-08-01', 'Nikini Full Moon Poya'),
    ('2023-08-30', 'Adhi Nikini Full Moon Poya'),
    ('2023-09-28', 'Milad-Un-Nabi'),
    ('2023-09-29', 'Binara Full Moon Poya'),
    ('2023-10-28', 'Vap Full Moon Poya'),
    ('2023-11-12', 'Deepavali Festival Day'),
    ('2023-11-26', 'Ill Full Moon Poya'),
    ('2023-12-25', 'Christmas Day'),
    ('2023-12-26', 'Unduvap Full Moon Poya'),
    # 2024 Holidays
    ('2024-01-15', 'Tamil Thai Pongal Day'),
    ('2024-01-25', 'Duruthu Full Moon Poya'),
    ('2024-02-04', 'National Day'),
    ('2024-02-23', 'Navam Full Moon Poya'),
    ('2024-03-08', 'Mahasivarathri Day'),
    ('2024-03-24', 'Madin Full Moon Poya'),
    ('2024-03-29', 'Good Friday'),
    ('2024-04-11', 'Id-Ul-Fitr'),
    ('2024-04-12', 'Sinhala and Tamil New Year Eve'),
    ('2024-04-13', 'Sinhala and Tamil New Year'),
    ('2024-04-15', 'Sinhala and Tamil New Year (in lieu)'),
    ('2024-04-23', 'Bak Full Moon Poya'),
    ('2024-05-01', 'Labour Day'),
    ('2024-05-23', 'Vesak Full Moon Poya'),
    ('2024-05-24', 'Vesak Full Moon Poya Holiday'),
    ('2024-06-17', 'Idul Adha'),
    ('2024-06-21', 'Poson Full Moon Poya'),
    ('2024-07-20', 'Esala Full Moon Poya'),
    ('2024-08-19', 'Nikini Full Moon Poya'),
    ('2024-09-16', 'Milad-Un-Nabi'),
    ('2024-09-17', 'Binara Full Moon Poya'),
    ('2024-09-23', 'Public Holiday'),
    ('2024-10-17', 'Vap Full Moon Poya'),
    ('2024-10-31', 'Deepavali Festival Day'),
    ('2024-11-15', 'Ill Full Moon Poya'),
    ('2024-12-14', 'Unduvap Full Moon Poya'),
    ('2024-12-25', 'Christmas Day'),
    # 2025 Holidays
    ('2025-01-13', 'Duruthu Full Moon Poya'),
    ('2025-01-14', 'Tamil Thai Pongal Day'),
    ('2025-02-04', 'National Day'),
    ('2025-02-12', 'Navam Full Moon Poya'),
    ('2025-02-26', 'Mahasivarathri Day'),
    ('2025-03-13', 'Madin Full Moon Poya'),
    ('2025-03-31', 'Id-Ul-Fitr'),
    ('2025-04-12', 'Bak Full Moon Poya'),
    ('2025-04-13', 'Sinhala and Tamil New Year Eve'),
    ('2025-04-14', 'Sinhala and Tamil New Year'),
    ('2025-04-15', 'Special Bank Holiday'),
    ('2025-04-18', 'Good Friday'),
    ('2025-05-01', 'Labour Day'),
    ('2025-05-12', 'Vesak Full Moon Poya'),
    ('2025-05-13', 'Vesak Full Moon Poya Holiday'),
    ('2025-06-07', 'Idul Adha'),
    ('2025-06-10', 'Poson Full Moon Poya'),
    ('2025-07-10', 'Esala Full Moon Poya'),
    ('2025-08-08', 'Nikini Full Moon Poya'),
    ('2025-09-05', 'Milad-Un-Nabi'),
    ('2025-09-07', 'Binara Full Moon Poya'),
    ('2025-10-06', 'Vap Full Moon Poya'),
    ('2025-10-20', 'Deepavali Festival Day'),
    ('2025-11-05', 'Ill Full Moon Poya'),
    ('2025-12-04', 'Unduvap Full Moon Poya'),
    ('2025-12-25', 'Christmas Day'),
 ]
web_holiday_df = pd.DataFrame(web_holiday_data, columns=['date', 'holiday_name'])
web_holiday_df['date'] = pd.to_datetime(web_holiday_df['date'])
web_holiday_df.head()

        date            holiday_name
0 2021-01-14   Tamil Thai Pongal Day
1 2021-01-28  Duruthu Full Moon Poya
2 2021-02-04            National Day
3 2021-02-26    Navam Full Moon Poya
4 2021-03-11      Mahasivarathri Day

In [29]:
web_holiday_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          146 non-null    datetime64[ns]
 1   holiday_name  146 non-null    object
dtypes: datetime64[ns](1), object(1)
memory usage: 2.4+ KB

In [30]:
# Verify and print dates from 2021-2024 not in staff, weekend, or web_holiday sets
all_dates_2021_2024 = [d for d in all_dates if d.year < 2025]
all_dates_set = set(all_dates_2021_2024)
staff_dates_set = set(staff_df['date'])
weekend_dates_set = set(weekend_df['date'])
web_holiday_dates_set = set(web_holiday_df[web_holiday_df['date'].dt.year < 2025]['date'])
excluded_dates = staff_dates_set | weekend_dates_set | web_holiday_dates_set
missing_dates = sorted(list(all_dates_set - excluded_dates))
if missing_dates:
    print('Dates not present in staff, weekend, or web_holiday datasets (2021-2024):')
    for d in missing_dates:
        print(d.strftime('%Y-%m-%d'))
else:
    print('All dates are present in at least one of the datasets for 2021-2024.')

Dates not present in staff, weekend, or web_holiday datasets (2021-2024):
2023-01-16

In [31]:
# Find dates in staff_df that are also in either weekend_df or web_holiday_df (2021-2024), and print details
staff_dates_2021_2024 = set(staff_df[staff_df['date'].dt.year < 2025]['date'])
weekend_dates_set = set(weekend_df[weekend_df['date'].dt.year < 2025]['date'])
web_holiday_dates_set = set(web_holiday_df[web_holiday_df['date'].dt.year < 2025]['date'])
result = []
for date in staff_dates_2021_2024:
    info = {'date': date.strftime('%Y-%m-%d')}
    if date in weekend_dates_set:
        weekday = weekend_df.loc[weekend_df['date'] == date, 'weekday'].values[0]
        info['type'] = 'Weekend'
        info['detail'] = weekday
        result.append(info)
    elif date in web_holiday_dates_set:
        holiday_name = web_holiday_df.loc[web_holiday_df['date'] == date, 'holiday_name'].values[0]
        info['type'] = 'Holiday'
        info['detail'] = holiday_name
        result.append(info)
if result:
    print('Date | Type | Detail')
    for r in result:
        print(f"{r['date']} | {r['type']} | {r['detail']}")
else:
    print('No staff dates found that are weekends or web holidays (2021-2024).')

Date | Type | Detail
2023-09-29 | Holiday | Binara Full Moon Poya
2022-05-02 | Holiday | Labour Day (in lieu)
2023-06-29 | Holiday | Idul Adha
2022-06-24 | Holiday | Sri Lanka Friday Holiday
2022-07-08 | Holiday | Sri Lanka Friday Holiday
2024-09-23 | Holiday | Public Holiday
2022-06-13 | Holiday | Special Public Holiday
2022-09-19 | Holiday | Special Public Holiday
2023-08-30 | Holiday | Adhi Nikini Full Moon Poya
2022-07-15 | Holiday | Sri Lanka Friday Holiday
2022-07-01 | Holiday | Sri Lanka Friday Holiday
2023-03-06 | Holiday | Madin Full Moon Poya
2021-05-25 | Holiday | Special Public Holiday
2022-07-22 | Holiday | Sri Lanka Friday Holiday
2022-07-29 | Holiday | Sri Lanka Friday Holiday
2021-05-24 | Holiday | Special Public Holiday
2022-06-17 | Holiday | Sri Lanka Friday Holiday

In [32]:
# Print details from staff_df for the listed holiday dates
listed_dates = [
    '2023-09-29', '2022-05-02', '2023-06-29', '2022-06-24', '2022-07-08', '2024-09-23',
    '2022-06-13', '2022-09-19', '2023-08-30', '2022-07-15', '2022-07-01', '2023-03-06',
    '2021-05-25', '2022-07-22', '2022-07-29', '2021-05-24', '2022-06-17'
 ]
listed_dates_dt = pd.to_datetime(listed_dates)
staff_details = staff_df[staff_df['date'].isin(listed_dates_dt)]
if not staff_details.empty:
    print('Staff details for listed holiday dates:')
    print(staff_details)
else:
    print('No staff details found for the listed holiday dates.')

Staff details for listed holiday dates:
           date section_id  employees_on_duty  total_task_time_minutes
540  2021-05-24    SEC-001                  5              1847.217943
541  2021-05-24    SEC-002                 10              3954.437133
542  2021-05-24    SEC-003                  4              1422.539024
543  2021-05-24    SEC-004                  2               865.419701
544  2021-05-24    SEC-005                  7              2793.735643
...         ...        ...                ...                      ...
5395 2024-09-23    SEC-002                  4              1563.768200
5396 2024-09-23    SEC-003                  1               477.848877
5397 2024-09-23    SEC-004                  5              1769.619449
5398 2024-09-23    SEC-005                  7              3150.284879
5399 2024-09-23    SEC-006                 10              3607.589665

[102 rows x 4 columns]

In [33]:
# Create filtered_holiday DataFrame excluding the specified dates from web_holiday_df
exclude_dates = [
    '2023-09-29', '2022-05-02', '2023-06-29', '2022-06-24', '2022-07-08', '2024-09-23',
    '2022-06-13', '2022-09-19', '2023-08-30', '2022-07-15', '2022-07-01', '2023-03-06',
    '2021-05-25', '2022-07-22', '2022-07-29', '2021-05-24', '2022-06-17'
 ]
exclude_dates_dt = pd.to_datetime(exclude_dates)
filtered_holiday = web_holiday_df[~web_holiday_df['date'].isin(exclude_dates_dt)].reset_index(drop=True)
filtered_holiday.head()

        date            holiday_name
0 2021-01-14   Tamil Thai Pongal Day
1 2021-01-28  Duruthu Full Moon Poya
2 2021-02-04            National Day
3 2021-02-26    Navam Full Moon Poya
4 2021-03-11      Mahasivarathri Day

In [34]:
# Find dates in staff_df that are also in either weekend_df or web_holiday_df (2021-2024), and print details
staff_dates_2021_2024 = set(staff_df[staff_df['date'].dt.year < 2025]['date'])
weekend_dates_set = set(weekend_df[weekend_df['date'].dt.year < 2025]['date'])
filtered_holiday_dates_set = set(filtered_holiday[filtered_holiday['date'].dt.year < 2025]['date'])
result = []
for date in staff_dates_2021_2024:
    info = {'date': date.strftime('%Y-%m-%d')}
    if date in weekend_dates_set:
        weekday = weekend_df.loc[weekend_df['date'] == date, 'weekday'].values[0]
        info['type'] = 'Weekend'
        info['detail'] = weekday
        result.append(info)
    elif date in filtered_holiday_dates_set:
        holiday_name = filtered_holiday.loc[filtered_holiday['date'] == date, 'holiday_name'].values[0]
        info['type'] = 'Holiday'
        info['detail'] = holiday_name
        result.append(info)
if result:
    print('Date | Type | Detail')
    for r in result:
        print(f"{r['date']} | {r['type']} | {r['detail']}")
else:
    print('No staff dates found that are weekends or web holidays (2021-2024).')

No staff dates found that are weekends or web holidays (2021-2024).

In [35]:
# Display the first few rows of each DataFrame to understand their structure
print('Staff DataFrame:')
print(staff_df.head())
print('\nWeekend DataFrame:')
print(weekend_df.head())
print('\nFiltered Holiday DataFrame:')
print(filtered_holiday.head())

Staff DataFrame:
        date section_id  employees_on_duty  total_task_time_minutes
0 2021-01-01    SEC-001                  1               834.569483
1 2021-01-01    SEC-002                  4              1525.368990
2 2021-01-01    SEC-003                  2               662.095279
3 2021-01-01    SEC-004                  4              1499.112620
4 2021-01-01    SEC-005                  3              1238.533073

Weekend DataFrame:
        date   weekday
0 2021-01-02  Saturday
1 2021-01-03    Sunday
2 2021-01-09  Saturday
3 2021-01-10    Sunday
4 2021-01-16  Saturday

Filtered Holiday DataFrame:
        date            holiday_name
0 2021-01-14   Tamil Thai Pongal Day
1 2021-01-28  Duruthu Full Moon Poya
2 2021-02-04            National Day
3 2021-02-26    Navam Full Moon Poya
4 2021-03-11      Mahasivarathri Day

In [38]:
# Create final_df by combining staff, weekend, and filtered_holiday from 2021 to 2025
from itertools import product
sections = staff_df['section_id'].unique()
all_dates_full = pd.date_range(start='2021-01-01', end='2025-12-31')
final_rows = []
for date in all_dates_full:
    for section in sections:
        staff_row = staff_df[(staff_df['date'] == date) & (staff_df['section_id'] == section)]
        employees_on_duty = staff_row['employees_on_duty'].values[0] if not staff_row.empty else 0
        total_task_time_minutes = staff_row['total_task_time_minutes'].values[0] if not staff_row.empty else 0
        weekend_row = weekend_df[weekend_df['date'] == date]
        weekday = weekend_row['weekday'].values[0] if not weekend_row.empty else 0
        holiday_row = filtered_holiday[filtered_holiday['date'] == date]
        holiday_name = holiday_row['holiday_name'].values[0] if not holiday_row.empty else 0
        final_rows.append({
            'date': date,
            'section_id': section,
            'employees_on_duty': employees_on_duty,
            'total_task_time_minutes': total_task_time_minutes,
            'weekday': weekday,
            'holiday_name': holiday_name
        })
final_df = pd.DataFrame(final_rows)
final_df['date'] = pd.to_datetime(final_df['date'])
final_df.head()

,date,section_id,employees_on_duty,total_task_time_minutes,weekday,holiday_name
0,2021-01-01,SEC-001,1,834.569483,0,0
1,2021-01-01,SEC-002,4,1525.368990,0,0
2,2021-01-01,SEC-003,2,662.095279,0,0
3,2021-01-01,SEC-004,4,1499.112620,0,0
4,2021-01-01,SEC-005,3,1238.533073,0,0

In [40]:
final_df.tail(60)

,date,section_id,employees_on_duty,total_task_time_minutes,weekday,holiday_name
10896,2025-12-22,SEC-001,0,0.0,0,0
10897,2025-12-22,SEC-002,0,0.0,0,0
10898,2025-12-22,SEC-003,0,0.0,0,0
10899,2025-12-22,SEC-004,0,0.0,0,0
10900,2025-12-22,SEC-005,0,0.0,0,0
10901,2025-12-22,SEC-006,0,0.0,0,0
10902,2025-12-23,SEC-001,0,0.0,0,0
10903,2025-12-23,SEC-002,0,0.0,0,0
10904,2025-12-23,SEC-003,0,0.0,0,0
10905,2025-12-23,SEC-004,0,0.0,0,0
10906,2025-12-23,SEC-005,0,0.0,0,0
10907,2025-12-23,SEC-006,0,0.0,0,0
10908,2025-12-24,SEC-001,0,0.0,0,0
10909,2025-12-24,SEC-002,0,0.0,0,0
10910,2025-12-24,SEC-003,0,0.0,0,0
10911,2025-12-24,SEC-004,0,0.0,0,0
10912,2025-12-24,SEC-005,0,0.0,0,0
10913,2025-12-24,SEC-006,0,0.0,0,0
10914,2025-12-25,SEC-001,0,0.0,0,Christmas Day
10915,2025-12-25,SEC-002,0,0.0,0,Christmas Day
10916,2025-12-25,SEC-003,0,0.0,0,Christmas Day
10917,2025-12-25,SEC-004,0,0.0,0,Christmas Day
10918,2025-12-25,SEC-005,0,0.0,0,Christmas Day
10919,2025-12-25,SEC-006,0,0.0,0,Christmas Day
10920,2025-12-26,SEC-001,0,0.0,0,0
10921,2025-12-26,SEC-002,0,0.0,0,0
10922,2025-12-26,SEC-003,0,0.0,0,0
10923,2025-12-26,SEC-004,0,0.0,0,0
10924,2025-12-26,SEC-005,0,0.0,0,0
10925,2025-12-26,SEC-006,0,0.0,0,0
10926,2025-12-27,SEC-001,0,0.0,Saturday,0
10927,2025-12-27,SEC-002,0,0.0,Saturday,0
10928,2025-12-27,SEC-003,0,0.0,Saturday,0
10929,2025-12-27,SEC-004,0,0.0,Saturday,0
10930,2025-12-27,SEC-005,0,0.0,Saturday,0
10931,2025-12-27,SEC-006,0,0.0,Saturday,0
10932,2025-12-28,SEC-001,0,0.0,Sunday,0
10933,2025-12-28,SEC-002,0,0.0,Sunday,0
10934,2025-12-28,SEC-003,0,0.0,Sunday,0
10935,2025-12-28,SEC-004,0,0.0,Sunday,0
10936,2025-12-28,SEC-005,0,0.0,Sunday,0
10937,2025-12-28,SEC-006,0,0.0,Sunday,0
10938,2025-12-29,SEC-001,0,0.0,0,0
10939,2025-12-29,SEC-002,0,0.0,0,0
10940,2025-12-29,SEC-003,0,0.0,0,0
10941,2025-12-29,SEC-004,0,0.0,0,0
10942,2025-12-29,SEC-005,0,0.0,0,0
10943,2025-12-29,SEC-006,0,0.0,0,0
10944,2025-12-30,SEC-001,0,0.0,0,0
10945,2025-12-30,SEC-002,0,0.0,0,0
10946,2025-12-30,SEC-003,0,0.0,0,0
10947,2025-12-30,SEC-004,0,0.0,0,0
10948,2025-12-30,SEC-005,0,0.0,0,0
10949,2025-12-30,SEC-006,0,0.0,0,0
10950,2025-12-31,SEC-001,0,0.0,0,0
10951,2025-12-31,SEC-002,0,0.0,0,0
10952,2025-12-31,SEC-003,0,0.0,0,0
10953,2025-12-31,SEC-004,0,0.0,0,0
10954,2025-12-31,SEC-005,0,0.0,0,0
10955,2025-12-31,SEC-006,0,0.0,0,0

In [41]:
# Export final_df as CSV
final_df.to_csv('final_df.csv', index=False)
print('final_df exported as final_df.csv')

final_df exported as final_df.csv