In [1]:
import numpy as np

ModuleNotFoundError: No module named 'numpy'

In [4]:
import pandas as pd

In [6]:
df=pd.read_csv("staffing_train.csv")

In [8]:
print(df.head(20))

          date section_id  employees_on_duty  total_task_time_minutes
0   2021-01-01    SEC-001                  1               834.569483
1   2021-01-01    SEC-002                  4              1525.368990
2   2021-01-01    SEC-003                  2               662.095279
3   2021-01-01    SEC-004                  4              1499.112620
4   2021-01-01    SEC-005                  3              1238.533073
5   2021-01-01    SEC-006                 11              4283.154645
6   2021-01-04    SEC-001                  1               767.698506
7   2021-01-04    SEC-002                  7              2717.770275
8   2021-01-04    SEC-003                  6              2485.334696
9   2021-01-04    SEC-004                  6              2097.884599
10  2021-01-04    SEC-005                  4              1556.520829
11  2021-01-04    SEC-006                  6              1873.923819
12  2021-01-05    SEC-001                  4              1530.652495
13  2021-01-05    SEC-002                  6              2177.474405
14  2021-01-05    SEC-003                  3               459.171861
15  2021-01-05    SEC-004                  4              1138.464777
16  2021-01-05    SEC-005                  6              2411.319418
17  2021-01-05    SEC-006                  5              1933.867596
18  2021-01-06    SEC-001                  2               481.229090
19  2021-01-06    SEC-002                  5              1814.401207

In [9]:
print(df.tail(20))

            date section_id  employees_on_duty  total_task_time_minutes
5782  2024-12-26    SEC-005                  7              2543.213107
5783  2024-12-26    SEC-006                  8              2955.184394
5784  2024-12-27    SEC-001                  5              1413.942415
5785  2024-12-27    SEC-002                  2              1022.775682
5786  2024-12-27    SEC-003                  2               615.576246
5787  2024-12-27    SEC-004                  4              1288.723110
5788  2024-12-27    SEC-005                 10              3623.308966
5789  2024-12-27    SEC-006                  5              1987.666281
5790  2024-12-30    SEC-001                  3              1476.008272
5791  2024-12-30    SEC-002                  5              2094.648238
5792  2024-12-30    SEC-003                  1               836.813742
5793  2024-12-30    SEC-004                  3               907.255329
5794  2024-12-30    SEC-005                  5              1721.295918
5795  2024-12-30    SEC-006                  8              3566.771606
5796  2024-12-31    SEC-001                  4              1080.785210
5797  2024-12-31    SEC-002                  3              1108.127212
5798  2024-12-31    SEC-003                  1               345.808093
5799  2024-12-31    SEC-004                  3              1293.492842
5800  2024-12-31    SEC-005                  5              1968.530130
5801  2024-12-31    SEC-006                  4              1318.902481