In [82]:
import pandas as pd
import numpy as np

In [83]:
df=pd.read_csv("first_set_engineered.csv")

In [65]:
df.head(6)

,date,section_id,employees_on_duty,total_task_time_minutes,avg_task_time_per_employee,day_of_week,holiday_name,is_holiday,month,weekend,...,month_8,month_9,month_10,month_11,month_12,month_sin,month_cos,employees_on_duty_7days_ago,employees_on_duty_rolling_mean_7,productivity_per_employee
0,2021-01-01,SEC-001,1.0,834.569483,834.569483,Friday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,1.000000,834.569483
1,2021-01-02,SEC-001,0.0,0.000000,0.000000,Saturday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,0.500000,NaN
2,2021-01-03,SEC-001,0.0,0.000000,0.000000,Sunday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,0.333333,NaN
3,2021-01-04,SEC-001,1.0,767.698506,767.698506,Monday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,0.500000,767.698506
4,2021-01-05,SEC-001,4.0,1530.652495,382.663124,Tuesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,1.200000,382.663124
5,2021-01-06,SEC-001,2.0,481.229090,240.614545,Wednesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,1.333333,240.614545

In [84]:
print(df[df['is_holiday'] == 1])

            date section_id  employees_on_duty  total_task_time_minutes  \
13    2021-01-14    SEC-001                0.0                      0.0
27    2021-01-28    SEC-001                0.0                      0.0
34    2021-02-04    SEC-001                0.0                      0.0
56    2021-02-26    SEC-001                0.0                      0.0
69    2021-03-11    SEC-001                0.0                      0.0
...          ...        ...                ...                      ...
8690  2024-10-17    SEC-006                0.0                      0.0
8704  2024-10-31    SEC-006                0.0                      0.0
8719  2024-11-15    SEC-006                0.0                      0.0
8748  2024-12-14    SEC-006                0.0                      0.0
8759  2024-12-25    SEC-006                0.0                      0.0

      avg_task_time_per_employee day_of_week                  holiday_name  \
13                           0.0    Thursday           දෙමළ තෛපොංැලල් දිනය
27                           0.0    Thursday  දුරුතු පුර පසළොස්වක පෝය දිනය
34                           0.0    Thursday              නිදහස් සමරු දිනය
56                           0.0      Friday    නවම් පුර පසළොස්වක පෝය දිනය
69                           0.0    Thursday             මහ සිවරාත්රි දිනය
...                          ...         ...                           ...
8690                         0.0    Thursday     වප් පුර පසළොස්වක පෝය දිනය
8704                         0.0    Thursday            දීපවාලි උත්සව දිනය
8719                         0.0      Friday     ඉල් පුර පසළොස්වක පෝය දිනය
8748                         0.0    Saturday  උඳුවප් පුර පසළොස්වක පෝය දිනය
8759                         0.0   Wednesday             නත්තල් උත්සව දිනය

      is_holiday  month  weekend  ...  month_8  month_9  month_10  month_11  \
13             1      1        0  ...    False    False     False     False
27             1      1        0  ...    False    False     False     False
34             1      2        0  ...    False    False     False     False
56             1      2        0  ...    False    False     False     False
69             1      3        0  ...    False    False     False     False
...          ...    ...      ...  ...      ...      ...       ...       ...
8690           1     10        0  ...    False    False      True     False
8704           1     10        0  ...    False    False      True     False
8719           1     11        0  ...    False    False     False      True
8748           1     12        1  ...    False    False     False     False
8759           1     12        0  ...    False    False     False     False

      month_12  month_sin     month_cos  employees_on_duty_7days_ago  \
13       False   0.000000  1.000000e+00                          2.0
27       False   0.000000  1.000000e+00                          3.0
34       False   0.500000  8.660254e-01                          0.0
56       False   0.500000  8.660254e-01                          1.0
69       False   0.866025  5.000000e-01                          2.0
...        ...        ...           ...                          ...
8690     False  -1.000000 -1.836970e-16                          5.0
8704     False  -1.000000 -1.836970e-16                          4.0
8719     False  -0.866025  5.000000e-01                          7.0
8748      True  -0.500000  8.660254e-01                          0.0
8759      True  -0.500000  8.660254e-01                          3.0

      employees_on_duty_rolling_mean_7  productivity_per_employee
13                            2.142857                        NaN
27                            1.571429                        NaN
34                            2.000000                        NaN
56                            2.000000                        NaN
69                            1.714286                        NaN
...                                ...                        ...
8690                          3.428571                        NaN
8704                          2.714286                        NaN
8719                          3.142857                        NaN
8748                          4.571429                        NaN
8759                          3.571429                        NaN

[630 rows x 38 columns]

In [85]:
df.head()

,date,section_id,employees_on_duty,total_task_time_minutes,avg_task_time_per_employee,day_of_week,holiday_name,is_holiday,month,weekend,...,month_8,month_9,month_10,month_11,month_12,month_sin,month_cos,employees_on_duty_7days_ago,employees_on_duty_rolling_mean_7,productivity_per_employee
0,2021-01-01,SEC-001,1.0,834.569483,834.569483,Friday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,1.000000,834.569483
1,2021-01-02,SEC-001,0.0,0.000000,0.000000,Saturday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,0.500000,NaN
2,2021-01-03,SEC-001,0.0,0.000000,0.000000,Sunday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,0.333333,NaN
3,2021-01-04,SEC-001,1.0,767.698506,767.698506,Monday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,0.500000,767.698506
4,2021-01-05,SEC-001,4.0,1530.652495,382.663124,Tuesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,1.200000,382.663124

In [86]:
df.head(40)

,date,section_id,employees_on_duty,total_task_time_minutes,avg_task_time_per_employee,day_of_week,holiday_name,is_holiday,month,weekend,...,month_8,month_9,month_10,month_11,month_12,month_sin,month_cos,employees_on_duty_7days_ago,employees_on_duty_rolling_mean_7,productivity_per_employee
0,2021-01-01,SEC-001,1.0,834.569483,834.569483,Friday,0,0,1,0,...,False,False,False,False,False,0.0,1.000000,NaN,1.000000,834.569483
1,2021-01-02,SEC-001,0.0,0.000000,0.000000,Saturday,0,0,1,1,...,False,False,False,False,False,0.0,1.000000,NaN,0.500000,NaN
2,2021-01-03,SEC-001,0.0,0.000000,0.000000,Sunday,0,0,1,1,...,False,False,False,False,False,0.0,1.000000,NaN,0.333333,NaN
3,2021-01-04,SEC-001,1.0,767.698506,767.698506,Monday,0,0,1,0,...,False,False,False,False,False,0.0,1.000000,NaN,0.500000,767.698506
4,2021-01-05,SEC-001,4.0,1530.652495,382.663124,Tuesday,0,0,1,0,...,False,False,False,False,False,0.0,1.000000,NaN,1.200000,382.663124
5,2021-01-06,SEC-001,2.0,481.229090,240.614545,Wednesday,0,0,1,0,...,False,False,False,False,False,0.0,1.000000,NaN,1.333333,240.614545
6,2021-01-07,SEC-001,2.0,681.674885,340.837443,Thursday,0,0,1,0,...,False,False,False,False,False,0.0,1.000000,NaN,1.428571,340.837443
7,2021-01-08,SEC-001,3.0,928.592571,309.530857,Friday,0,0,1,0,...,False,False,False,False,False,0.0,1.000000,1.0,1.714286,309.530857
8,2021-01-09,SEC-001,0.0,0.000000,0.000000,Saturday,0,0,1,1,...,False,False,False,False,False,0.0,1.000000,0.0,1.714286,NaN
9,2021-01-10,SEC-001,0.0,0.000000,0.000000,Sunday,0,0,1,1,...,False,False,False,False,False,0.0,1.000000,0.0,1.714286,NaN
10,2021-01-11,SEC-001,5.0,1471.815716,294.363143,Monday,0,0,1,0,...,False,False,False,False,False,0.0,1.000000,1.0,2.285714,294.363143
11,2021-01-12,SEC-001,4.0,891.042463,222.760616,Tuesday,0,0,1,0,...,False,False,False,False,False,0.0,1.000000,4.0,2.285714,222.760616
12,2021-01-13,SEC-001,3.0,813.827261,271.275754,Wednesday,0,0,1,0,...,False,False,False,False,False,0.0,1.000000,2.0,2.428571,271.275754
13,2021-01-14,SEC-001,0.0,0.000000,0.000000,Thursday,දෙමළ තෛපොංැලල් දිනය,1,1,0,...,False,False,False,False,False,0.0,1.000000,2.0,2.142857,NaN
14,2021-01-15,SEC-001,3.0,1142.705872,380.901957,Friday,0,0,1,0,...,False,False,False,False,False,0.0,1.000000,3.0,2.142857,380.901957
15,2021-01-16,SEC-001,0.0,0.000000,0.000000,Saturday,0,0,1,1,...,False,False,False,False,False,0.0,1.000000,0.0,2.142857,NaN
16,2021-01-17,SEC-001,0.0,0.000000,0.000000,Sunday,0,0,1,1,...,False,False,False,False,False,0.0,1.000000,0.0,2.142857,NaN
17,2021-01-18,SEC-001,2.0,281.730618,140.865309,Monday,0,0,1,0,...,False,False,False,False,False,0.0,1.000000,5.0,1.714286,140.865309
18,2021-01-19,SEC-001,1.0,137.965412,137.965412,Tuesday,0,0,1,0,...,False,False,False,False,False,0.0,1.000000,4.0,1.285714,137.965412
19,2021-01-20,SEC-001,4.0,1148.005449,287.001362,Wednesday,0,0,1,0,...,False,False,False,False,False,0.0,1.000000,3.0,1.428571,287.001362
20,2021-01-21,SEC-001,3.0,1099.825665,366.608555,Thursday,0,0,1,0,...,False,False,False,False,False,0.0,1.000000,0.0,1.857143,366.608555
21,2021-01-22,SEC-001,3.0,1101.491024,367.163675,Friday,0,0,1,0,...,False,False,False,False,False,0.0,1.000000,3.0,1.857143,367.163675
22,2021-01-23,SEC-001,0.0,0.000000,0.000000,Saturday,0,0,1,1,...,False,False,False,False,False,0.0,1.000000,0.0,1.857143,NaN
23,2021-01-24,SEC-001,0.0,0.000000,0.000000,Sunday,0,0,1,1,...,False,False,False,False,False,0.0,1.000000,0.0,1.857143,NaN
24,2021-01-25,SEC-001,3.0,1112.483849,370.827950,Monday,0,0,1,0,...,False,False,False,False,False,0.0,1.000000,2.0,2.000000,370.827950
25,2021-01-26,SEC-001,4.0,1282.187860,320.546965,Tuesday,0,0,1,0,...,False,False,False,False,False,0.0,1.000000,1.0,2.428571,320.546965
26,2021-01-27,SEC-001,1.0,266.177884,266.177884,Wednesday,0,0,1,0,...,False,False,False,False,False,0.0,1.000000,4.0,2.000000,266.177884
27,2021-01-28,SEC-001,0.0,0.000000,0.000000,Thursday,දුරුතු පුර පසළොස්වක පෝය දිනය,1,1,0,...,False,False,False,False,False,0.0,1.000000,3.0,1.571429,NaN
28,2021-01-29,SEC-001,7.0,2385.913573,340.844796,Friday,0,0,1,0,...,False,False,False,False,False,0.0,1.000000,3.0,2.142857,340.844796
29,2021-01-30,SEC-001,0.0,0.000000,0.000000,Saturday,0,0,1,1,...,False,False,False,False,False,0.0,1.000000,0.0,2.142857,NaN
30,2021-01-31,SEC-001,0.0,0.000000,0.000000,Sunday,0,0,1,1,...,False,False,False,False,False,0.0,1.000000,0.0,2.142857,NaN
31,2021-02-01,SEC-001,3.0,1068.140387,356.046796,Monday,0,0,2,0,...,False,False,False,False,False,0.5,0.866025,3.0,2.142857,356.046796
32,2021-02-02,SEC-001,3.0,1130.438482,376.812827,Tuesday,0,0,2,0,...,False,False,False,False,False,0.5,0.866025,4.0,2.000000,376.812827
33,2021-02-03,SEC-001,1.0,385.561607,385.561607,Wednesday,0,0,2,0,...,False,False,False,False,False,0.5,0.866025,1.0,2.000000,385.561607
34,2021-02-04,SEC-001,0.0,0.000000,0.000000,Thursday,නිදහස් සමරු දිනය,1,2,0,...,False,False,False,False,False,0.5,0.866025,0.0,2.000000,NaN
35,2021-02-05,SEC-001,6.0,2269.307893,378.217982,Friday,0,0,2,0,...,False,False,False,False,False,0.5,0.866025,7.0,1.857143,378.217982
36,2021-02-06,SEC-001,0.0,0.000000,0.000000,Saturday,0,0,2,1,...,False,False,False,False,False,0.5,0.866025,0.0,1.857143,NaN
37,2021-02-07,SEC-001,0.0,0.000000,0.000000,Sunday,0,0,2,1,...,False,False,False,False,False,0.5,0.866025,0.0,1.857143,NaN
38,2021-02-08,SEC-001,5.0,1389.633955,277.926791,Monday,0,0,2,0,...,False,False,False,False,False,0.5,0.866025,3.0,2.142857,277.926791
39,2021-02-09,SEC-001,3.0,577.525287,192.508429,Tuesday,0,0,2,0,...,False,False,False,False,False,0.5,0.866025,3.0,2.142857,192.508429

In [87]:
# Sort the DataFrame by the 'date' column
df = df.sort_values('date')

In [88]:
df.head(40)

,date,section_id,employees_on_duty,total_task_time_minutes,avg_task_time_per_employee,day_of_week,holiday_name,is_holiday,month,weekend,...,month_8,month_9,month_10,month_11,month_12,month_sin,month_cos,employees_on_duty_7days_ago,employees_on_duty_rolling_mean_7,productivity_per_employee
0,2021-01-01,SEC-001,1.0,834.569483,834.569483,Friday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,1.000000,834.569483
5844,2021-01-01,SEC-005,3.0,1238.533073,412.844358,Friday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,3.000000,412.844358
4383,2021-01-01,SEC-004,4.0,1499.112620,374.778155,Friday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,4.000000,374.778155
2922,2021-01-01,SEC-003,2.0,662.095279,331.047639,Friday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,2.000000,331.047639
1461,2021-01-01,SEC-002,4.0,1525.368990,381.342247,Friday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,4.000000,381.342247
7305,2021-01-01,SEC-006,11.0,4283.154645,389.377695,Friday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,11.000000,389.377695
7306,2021-01-02,SEC-006,0.0,0.000000,0.000000,Saturday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,5.500000,NaN
4384,2021-01-02,SEC-004,0.0,0.000000,0.000000,Saturday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,2.000000,NaN
1462,2021-01-02,SEC-002,0.0,0.000000,0.000000,Saturday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,2.000000,NaN
2923,2021-01-02,SEC-003,0.0,0.000000,0.000000,Saturday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,1.000000,NaN
5845,2021-01-02,SEC-005,0.0,0.000000,0.000000,Saturday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,1.500000,NaN
1,2021-01-02,SEC-001,0.0,0.000000,0.000000,Saturday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,0.500000,NaN
2,2021-01-03,SEC-001,0.0,0.000000,0.000000,Sunday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,0.333333,NaN
4385,2021-01-03,SEC-004,0.0,0.000000,0.000000,Sunday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,1.333333,NaN
1463,2021-01-03,SEC-002,0.0,0.000000,0.000000,Sunday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,1.333333,NaN
5846,2021-01-03,SEC-005,0.0,0.000000,0.000000,Sunday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,1.000000,NaN
7307,2021-01-03,SEC-006,0.0,0.000000,0.000000,Sunday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,3.666667,NaN
2924,2021-01-03,SEC-003,0.0,0.000000,0.000000,Sunday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,0.666667,NaN
5847,2021-01-04,SEC-005,4.0,1556.520829,389.130207,Monday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,1.750000,389.130207
4386,2021-01-04,SEC-004,6.0,2097.884599,349.647433,Monday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,2.500000,349.647433
3,2021-01-04,SEC-001,1.0,767.698506,767.698506,Monday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,0.500000,767.698506
7308,2021-01-04,SEC-006,6.0,1873.923819,312.320637,Monday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,4.250000,312.320637
1464,2021-01-04,SEC-002,7.0,2717.770275,388.252896,Monday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,2.750000,388.252896
2925,2021-01-04,SEC-003,6.0,2485.334696,414.222449,Monday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,2.000000,414.222449
7309,2021-01-05,SEC-006,5.0,1933.867596,386.773519,Tuesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,4.400000,386.773519
4387,2021-01-05,SEC-004,4.0,1138.464777,284.616194,Tuesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,2.800000,284.616194
2926,2021-01-05,SEC-003,3.0,459.171861,153.057287,Tuesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,2.200000,153.057287
4,2021-01-05,SEC-001,4.0,1530.652495,382.663124,Tuesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,1.200000,382.663124
5848,2021-01-05,SEC-005,6.0,2411.319418,401.886570,Tuesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,2.600000,401.886570
1465,2021-01-05,SEC-002,6.0,2177.474405,362.912401,Tuesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,3.400000,362.912401
4388,2021-01-06,SEC-004,1.0,623.121539,623.121539,Wednesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,2.500000,623.121539
5849,2021-01-06,SEC-005,9.0,3670.918456,407.879828,Wednesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,3.666667,407.879828
2927,2021-01-06,SEC-003,3.0,873.173883,291.057961,Wednesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,2.333333,291.057961
5,2021-01-06,SEC-001,2.0,481.229090,240.614545,Wednesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,1.333333,240.614545
7310,2021-01-06,SEC-006,10.0,4451.014037,445.101404,Wednesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,5.333333,445.101404
1466,2021-01-06,SEC-002,5.0,1814.401207,362.880241,Wednesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,3.666667,362.880241
1467,2021-01-07,SEC-002,3.0,1158.118988,386.039663,Thursday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,3.571429,386.039663
4389,2021-01-07,SEC-004,3.0,1061.999574,353.999858,Thursday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,2.571429,353.999858
5850,2021-01-07,SEC-005,5.0,1908.757419,381.751484,Thursday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,3.857143,381.751484
2928,2021-01-07,SEC-003,1.0,91.109596,91.109596,Thursday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,2.142857,91.109596

In [89]:
# Sort the DataFrame by 'date' and then by 'sec_id'
df = df.sort_values(['date', 'section_id'])

In [90]:
print(df.head())

            date section_id  employees_on_duty  total_task_time_minutes  \
0     2021-01-01    SEC-001                1.0               834.569483
1461  2021-01-01    SEC-002                4.0              1525.368990
2922  2021-01-01    SEC-003                2.0               662.095279
4383  2021-01-01    SEC-004                4.0              1499.112620
5844  2021-01-01    SEC-005                3.0              1238.533073

      avg_task_time_per_employee day_of_week holiday_name  is_holiday  month  \
0                     834.569483      Friday            0           0      1
1461                  381.342247      Friday            0           0      1
2922                  331.047639      Friday            0           0      1
4383                  374.778155      Friday            0           0      1
5844                  412.844358      Friday            0           0      1

      weekend  ...  month_8  month_9  month_10  month_11  month_12  month_sin  \
0           0  ...    False    False     False     False     False        0.0
1461        0  ...    False    False     False     False     False        0.0
2922        0  ...    False    False     False     False     False        0.0
4383        0  ...    False    False     False     False     False        0.0
5844        0  ...    False    False     False     False     False        0.0

      month_cos  employees_on_duty_7days_ago  \
0           1.0                          NaN
1461        1.0                          NaN
2922        1.0                          NaN
4383        1.0                          NaN
5844        1.0                          NaN

      employees_on_duty_rolling_mean_7  productivity_per_employee
0                                  1.0                 834.569483
1461                               4.0                 381.342247
2922                               2.0                 331.047639
4383                               4.0                 374.778155
5844                               3.0                 412.844358

[5 rows x 38 columns]

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8766 entries, 0 to 8765
Data columns (total 38 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   date                              8766 non-null   object
 1   section_id                        8766 non-null   object
 2   employees_on_duty                 8766 non-null   float64
 3   total_task_time_minutes           8766 non-null   float64
 4   avg_task_time_per_employee        8766 non-null   float64
 5   day_of_week                       8766 non-null   object
 6   holiday_name                      8766 non-null   object
 7   is_holiday                        8766 non-null   int64
 8   month                             8766 non-null   int64
 9   weekend                           8766 non-null   int64
 10  is_working_day                    8766 non-null   int64
 11  dow_Friday                        8766 non-null   bool
 12  dow_Monday                        8766 non-null   bool
 13  dow_Saturday                      8766 non-null   bool
 14  dow_Sunday                        8766 non-null   bool
 15  dow_Thursday                      8766 non-null   bool
 16  dow_Tuesday                       8766 non-null   bool
 17  dow_Wednesday                     8766 non-null   bool
 18  day_num                           8766 non-null   int64
 19  dow_sin                           8766 non-null   float64
 20  dow_cos                           8766 non-null   float64
 21  month_1                           8766 non-null   bool
 22  month_2                           8766 non-null   bool
 23  month_3                           8766 non-null   bool
 24  month_4                           8766 non-null   bool
 25  month_5                           8766 non-null   bool
 26  month_6                           8766 non-null   bool
 27  month_7                           8766 non-null   bool
 28  month_8                           8766 non-null   bool
 29  month_9                           8766 non-null   bool
 30  month_10                          8766 non-null   bool
 31  month_11                          8766 non-null   bool
 32  month_12                          8766 non-null   bool
 33  month_sin                         8766 non-null   float64
 34  month_cos                         8766 non-null   float64
 35  employees_on_duty_7days_ago       8724 non-null   float64
 36  employees_on_duty_rolling_mean_7  8766 non-null   float64
 37  productivity_per_employee         5802 non-null   float64
dtypes: bool(19), float64(10), int64(5), object(4)
memory usage: 1.5+ MB

In [92]:
print(df.head())

            date section_id  employees_on_duty  total_task_time_minutes  \
0     2021-01-01    SEC-001                1.0               834.569483
1461  2021-01-01    SEC-002                4.0              1525.368990
2922  2021-01-01    SEC-003                2.0               662.095279
4383  2021-01-01    SEC-004                4.0              1499.112620
5844  2021-01-01    SEC-005                3.0              1238.533073

      avg_task_time_per_employee day_of_week holiday_name  is_holiday  month  \
0                     834.569483      Friday            0           0      1
1461                  381.342247      Friday            0           0      1
2922                  331.047639      Friday            0           0      1
4383                  374.778155      Friday            0           0      1
5844                  412.844358      Friday            0           0      1

      weekend  ...  month_8  month_9  month_10  month_11  month_12  month_sin  \
0           0  ...    False    False     False     False     False        0.0
1461        0  ...    False    False     False     False     False        0.0
2922        0  ...    False    False     False     False     False        0.0
4383        0  ...    False    False     False     False     False        0.0
5844        0  ...    False    False     False     False     False        0.0

      month_cos  employees_on_duty_7days_ago  \
0           1.0                          NaN
1461        1.0                          NaN
2922        1.0                          NaN
4383        1.0                          NaN
5844        1.0                          NaN

      employees_on_duty_rolling_mean_7  productivity_per_employee
0                                  1.0                 834.569483
1461                               4.0                 381.342247
2922                               2.0                 331.047639
4383                               4.0                 374.778155
5844                               3.0                 412.844358

[5 rows x 38 columns]

In [93]:
df['section_id'] = df['section_id'].str.extract(r'(\d+)').astype(int)

In [94]:
print(df.head())

            date  section_id  employees_on_duty  total_task_time_minutes  \
0     2021-01-01           1                1.0               834.569483
1461  2021-01-01           2                4.0              1525.368990
2922  2021-01-01           3                2.0               662.095279
4383  2021-01-01           4                4.0              1499.112620
5844  2021-01-01           5                3.0              1238.533073

      avg_task_time_per_employee day_of_week holiday_name  is_holiday  month  \
0                     834.569483      Friday            0           0      1
1461                  381.342247      Friday            0           0      1
2922                  331.047639      Friday            0           0      1
4383                  374.778155      Friday            0           0      1
5844                  412.844358      Friday            0           0      1

      weekend  ...  month_8  month_9  month_10  month_11  month_12  month_sin  \
0           0  ...    False    False     False     False     False        0.0
1461        0  ...    False    False     False     False     False        0.0
2922        0  ...    False    False     False     False     False        0.0
4383        0  ...    False    False     False     False     False        0.0
5844        0  ...    False    False     False     False     False        0.0

      month_cos  employees_on_duty_7days_ago  \
0           1.0                          NaN
1461        1.0                          NaN
2922        1.0                          NaN
4383        1.0                          NaN
5844        1.0                          NaN

      employees_on_duty_rolling_mean_7  productivity_per_employee
0                                  1.0                 834.569483
1461                               4.0                 381.342247
2922                               2.0                 331.047639
4383                               4.0                 374.778155
5844                               3.0                 412.844358

[5 rows x 38 columns]

In [95]:
df.head(40)

,date,section_id,employees_on_duty,total_task_time_minutes,avg_task_time_per_employee,day_of_week,holiday_name,is_holiday,month,weekend,...,month_8,month_9,month_10,month_11,month_12,month_sin,month_cos,employees_on_duty_7days_ago,employees_on_duty_rolling_mean_7,productivity_per_employee
0,2021-01-01,1,1.0,834.569483,834.569483,Friday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,1.000000,834.569483
1461,2021-01-01,2,4.0,1525.368990,381.342247,Friday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,4.000000,381.342247
2922,2021-01-01,3,2.0,662.095279,331.047639,Friday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,2.000000,331.047639
4383,2021-01-01,4,4.0,1499.112620,374.778155,Friday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,4.000000,374.778155
5844,2021-01-01,5,3.0,1238.533073,412.844358,Friday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,3.000000,412.844358
7305,2021-01-01,6,11.0,4283.154645,389.377695,Friday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,11.000000,389.377695
1,2021-01-02,1,0.0,0.000000,0.000000,Saturday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,0.500000,NaN
1462,2021-01-02,2,0.0,0.000000,0.000000,Saturday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,2.000000,NaN
2923,2021-01-02,3,0.0,0.000000,0.000000,Saturday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,1.000000,NaN
4384,2021-01-02,4,0.0,0.000000,0.000000,Saturday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,2.000000,NaN
5845,2021-01-02,5,0.0,0.000000,0.000000,Saturday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,1.500000,NaN
7306,2021-01-02,6,0.0,0.000000,0.000000,Saturday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,5.500000,NaN
2,2021-01-03,1,0.0,0.000000,0.000000,Sunday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,0.333333,NaN
1463,2021-01-03,2,0.0,0.000000,0.000000,Sunday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,1.333333,NaN
2924,2021-01-03,3,0.0,0.000000,0.000000,Sunday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,0.666667,NaN
4385,2021-01-03,4,0.0,0.000000,0.000000,Sunday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,1.333333,NaN
5846,2021-01-03,5,0.0,0.000000,0.000000,Sunday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,1.000000,NaN
7307,2021-01-03,6,0.0,0.000000,0.000000,Sunday,0,0,1,1,...,False,False,False,False,False,0.0,1.0,NaN,3.666667,NaN
3,2021-01-04,1,1.0,767.698506,767.698506,Monday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,0.500000,767.698506
1464,2021-01-04,2,7.0,2717.770275,388.252896,Monday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,2.750000,388.252896
2925,2021-01-04,3,6.0,2485.334696,414.222449,Monday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,2.000000,414.222449
4386,2021-01-04,4,6.0,2097.884599,349.647433,Monday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,2.500000,349.647433
5847,2021-01-04,5,4.0,1556.520829,389.130207,Monday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,1.750000,389.130207
7308,2021-01-04,6,6.0,1873.923819,312.320637,Monday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,4.250000,312.320637
4,2021-01-05,1,4.0,1530.652495,382.663124,Tuesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,1.200000,382.663124
1465,2021-01-05,2,6.0,2177.474405,362.912401,Tuesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,3.400000,362.912401
2926,2021-01-05,3,3.0,459.171861,153.057287,Tuesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,2.200000,153.057287
4387,2021-01-05,4,4.0,1138.464777,284.616194,Tuesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,2.800000,284.616194
5848,2021-01-05,5,6.0,2411.319418,401.886570,Tuesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,2.600000,401.886570
7309,2021-01-05,6,5.0,1933.867596,386.773519,Tuesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,4.400000,386.773519
5,2021-01-06,1,2.0,481.229090,240.614545,Wednesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,1.333333,240.614545
1466,2021-01-06,2,5.0,1814.401207,362.880241,Wednesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,3.666667,362.880241
2927,2021-01-06,3,3.0,873.173883,291.057961,Wednesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,2.333333,291.057961
4388,2021-01-06,4,1.0,623.121539,623.121539,Wednesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,2.500000,623.121539
5849,2021-01-06,5,9.0,3670.918456,407.879828,Wednesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,3.666667,407.879828
7310,2021-01-06,6,10.0,4451.014037,445.101404,Wednesday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,5.333333,445.101404
6,2021-01-07,1,2.0,681.674885,340.837443,Thursday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,1.428571,340.837443
1467,2021-01-07,2,3.0,1158.118988,386.039663,Thursday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,3.571429,386.039663
2928,2021-01-07,3,1.0,91.109596,91.109596,Thursday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,2.142857,91.109596
4389,2021-01-07,4,3.0,1061.999574,353.999858,Thursday,0,0,1,0,...,False,False,False,False,False,0.0,1.0,NaN,2.571429,353.999858

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8766 entries, 0 to 8765
Data columns (total 38 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   date                              8766 non-null   object
 1   section_id                        8766 non-null   int64
 2   employees_on_duty                 8766 non-null   float64
 3   total_task_time_minutes           8766 non-null   float64
 4   avg_task_time_per_employee        8766 non-null   float64
 5   day_of_week                       8766 non-null   object
 6   holiday_name                      8766 non-null   object
 7   is_holiday                        8766 non-null   int64
 8   month                             8766 non-null   int64
 9   weekend                           8766 non-null   int64
 10  is_working_day                    8766 non-null   int64
 11  dow_Friday                        8766 non-null   bool
 12  dow_Monday                        8766 non-null   bool
 13  dow_Saturday                      8766 non-null   bool
 14  dow_Sunday                        8766 non-null   bool
 15  dow_Thursday                      8766 non-null   bool
 16  dow_Tuesday                       8766 non-null   bool
 17  dow_Wednesday                     8766 non-null   bool
 18  day_num                           8766 non-null   int64
 19  dow_sin                           8766 non-null   float64
 20  dow_cos                           8766 non-null   float64
 21  month_1                           8766 non-null   bool
 22  month_2                           8766 non-null   bool
 23  month_3                           8766 non-null   bool
 24  month_4                           8766 non-null   bool
 25  month_5                           8766 non-null   bool
 26  month_6                           8766 non-null   bool
 27  month_7                           8766 non-null   bool
 28  month_8                           8766 non-null   bool
 29  month_9                           8766 non-null   bool
 30  month_10                          8766 non-null   bool
 31  month_11                          8766 non-null   bool
 32  month_12                          8766 non-null   bool
 33  month_sin                         8766 non-null   float64
 34  month_cos                         8766 non-null   float64
 35  employees_on_duty_7days_ago       8724 non-null   float64
 36  employees_on_duty_rolling_mean_7  8766 non-null   float64
 37  productivity_per_employee         5802 non-null   float64
dtypes: bool(19), float64(10), int64(6), object(3)
memory usage: 1.5+ MB

In [97]:
# Reorder DataFrame columns as specified
ordered_columns = [
    'date',
    'section_id',
    'employees_on_duty',
    'total_task_time_minutes',
    'employees_on_duty_7days_ago',
    'employees_on_duty_rolling_mean_7',
    'avg_task_time_per_employee',
    'productivity_per_employee',
    'day_of_week',
    'holiday_name',
    'is_holiday',
    'month',
    'weekend',
    'is_working_day',
    'day_num',
    'dow_Monday',
    'dow_Tuesday',
    'dow_Wednesday',
    'dow_Thursday',
    'dow_Friday',
    'dow_Saturday',
    'dow_Sunday',
    'dow_sin',
    'dow_cos',
    'month_1',
    'month_2',
    'month_3',
    'month_4',
    'month_5',
    'month_6',
    'month_7',
    'month_8',
    'month_9',
    'month_10',
    'month_11',
    'month_12',
    'month_sin',
    'month_cos'
 ]
df = df[ordered_columns]

In [99]:
df.head(50)

,date,section_id,employees_on_duty,total_task_time_minutes,employees_on_duty_7days_ago,employees_on_duty_rolling_mean_7,avg_task_time_per_employee,productivity_per_employee,day_of_week,holiday_name,...,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12,month_sin,month_cos
0,2021-01-01,1,1.0,834.569483,NaN,1.000000,834.569483,834.569483,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1461,2021-01-01,2,4.0,1525.368990,NaN,4.000000,381.342247,381.342247,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
2922,2021-01-01,3,2.0,662.095279,NaN,2.000000,331.047639,331.047639,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
4383,2021-01-01,4,4.0,1499.112620,NaN,4.000000,374.778155,374.778155,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
5844,2021-01-01,5,3.0,1238.533073,NaN,3.000000,412.844358,412.844358,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
7305,2021-01-01,6,11.0,4283.154645,NaN,11.000000,389.377695,389.377695,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1,2021-01-02,1,0.0,0.000000,NaN,0.500000,0.000000,NaN,Saturday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1462,2021-01-02,2,0.0,0.000000,NaN,2.000000,0.000000,NaN,Saturday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
2923,2021-01-02,3,0.0,0.000000,NaN,1.000000,0.000000,NaN,Saturday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
4384,2021-01-02,4,0.0,0.000000,NaN,2.000000,0.000000,NaN,Saturday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
5845,2021-01-02,5,0.0,0.000000,NaN,1.500000,0.000000,NaN,Saturday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
7306,2021-01-02,6,0.0,0.000000,NaN,5.500000,0.000000,NaN,Saturday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
2,2021-01-03,1,0.0,0.000000,NaN,0.333333,0.000000,NaN,Sunday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1463,2021-01-03,2,0.0,0.000000,NaN,1.333333,0.000000,NaN,Sunday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
2924,2021-01-03,3,0.0,0.000000,NaN,0.666667,0.000000,NaN,Sunday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
4385,2021-01-03,4,0.0,0.000000,NaN,1.333333,0.000000,NaN,Sunday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
5846,2021-01-03,5,0.0,0.000000,NaN,1.000000,0.000000,NaN,Sunday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
7307,2021-01-03,6,0.0,0.000000,NaN,3.666667,0.000000,NaN,Sunday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
3,2021-01-04,1,1.0,767.698506,NaN,0.500000,767.698506,767.698506,Monday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1464,2021-01-04,2,7.0,2717.770275,NaN,2.750000,388.252896,388.252896,Monday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
2925,2021-01-04,3,6.0,2485.334696,NaN,2.000000,414.222449,414.222449,Monday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
4386,2021-01-04,4,6.0,2097.884599,NaN,2.500000,349.647433,349.647433,Monday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
5847,2021-01-04,5,4.0,1556.520829,NaN,1.750000,389.130207,389.130207,Monday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
7308,2021-01-04,6,6.0,1873.923819,NaN,4.250000,312.320637,312.320637,Monday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
4,2021-01-05,1,4.0,1530.652495,NaN,1.200000,382.663124,382.663124,Tuesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1465,2021-01-05,2,6.0,2177.474405,NaN,3.400000,362.912401,362.912401,Tuesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
2926,2021-01-05,3,3.0,459.171861,NaN,2.200000,153.057287,153.057287,Tuesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
4387,2021-01-05,4,4.0,1138.464777,NaN,2.800000,284.616194,284.616194,Tuesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
5848,2021-01-05,5,6.0,2411.319418,NaN,2.600000,401.886570,401.886570,Tuesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
7309,2021-01-05,6,5.0,1933.867596,NaN,4.400000,386.773519,386.773519,Tuesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
5,2021-01-06,1,2.0,481.229090,NaN,1.333333,240.614545,240.614545,Wednesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1466,2021-01-06,2,5.0,1814.401207,NaN,3.666667,362.880241,362.880241,Wednesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
2927,2021-01-06,3,3.0,873.173883,NaN,2.333333,291.057961,291.057961,Wednesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
4388,2021-01-06,4,1.0,623.121539,NaN,2.500000,623.121539,623.121539,Wednesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
5849,2021-01-06,5,9.0,3670.918456,NaN,3.666667,407.879828,407.879828,Wednesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
7310,2021-01-06,6,10.0,4451.014037,NaN,5.333333,445.101404,445.101404,Wednesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
6,2021-01-07,1,2.0,681.674885,NaN,1.428571,340.837443,340.837443,Thursday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1467,2021-01-07,2,3.0,1158.118988,NaN,3.571429,386.039663,386.039663,Thursday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
2928,2021-01-07,3,1.0,91.109596,NaN,2.142857,91.109596,91.109596,Thursday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
4389,2021-01-07,4,3.0,1061.999574,NaN,2.571429,353.999858,353.999858,Thursday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
5850,2021-01-07,5,5.0,1908.757419,NaN,3.857143,381.751484,381.751484,Thursday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
7311,2021-01-07,6,5.0,1807.240388,NaN,5.285714,361.448078,361.448078,Thursday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
7,2021-01-08,1,3.0,928.592571,1.0,1.714286,309.530857,309.530857,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1468,2021-01-08,2,4.0,1421.370586,4.0,3.571429,355.342646,355.342646,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
2929,2021-01-08,3,4.0,858.552262,2.0,2.428571,214.638065,214.638065,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
4390,2021-01-08,4,3.0,729.095445,4.0,2.428571,243.031815,243.031815,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
5851,2021-01-08,5,11.0,4483.235672,3.0,5.000000,407.566879,407.566879,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
7312,2021-01-08,6,2.0,1009.940002,11.0,4.000000,504.970001,504.970001,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
8,2021-01-09,1,0.0,0.000000,0.0,1.714286,0.000000,NaN,Saturday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1469,2021-01-09,2,0.0,0.000000,0.0,3.571429,0.000000,NaN,Saturday,0,...,False,False,False,False,False,False,False,False,0.0,1.0

In [100]:
df.loc[df['employees_on_duty_7days_ago'].isna(), 'employees_on_duty_7days_ago'] = df.loc[df['employees_on_duty_7days_ago'].isna(), 'employees_on_duty']

In [101]:
df.head(50)

,date,section_id,employees_on_duty,total_task_time_minutes,employees_on_duty_7days_ago,employees_on_duty_rolling_mean_7,avg_task_time_per_employee,productivity_per_employee,day_of_week,holiday_name,...,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12,month_sin,month_cos
0,2021-01-01,1,1.0,834.569483,1.0,1.000000,834.569483,834.569483,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1461,2021-01-01,2,4.0,1525.368990,4.0,4.000000,381.342247,381.342247,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
2922,2021-01-01,3,2.0,662.095279,2.0,2.000000,331.047639,331.047639,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
4383,2021-01-01,4,4.0,1499.112620,4.0,4.000000,374.778155,374.778155,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
5844,2021-01-01,5,3.0,1238.533073,3.0,3.000000,412.844358,412.844358,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
7305,2021-01-01,6,11.0,4283.154645,11.0,11.000000,389.377695,389.377695,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1,2021-01-02,1,0.0,0.000000,0.0,0.500000,0.000000,NaN,Saturday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1462,2021-01-02,2,0.0,0.000000,0.0,2.000000,0.000000,NaN,Saturday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
2923,2021-01-02,3,0.0,0.000000,0.0,1.000000,0.000000,NaN,Saturday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
4384,2021-01-02,4,0.0,0.000000,0.0,2.000000,0.000000,NaN,Saturday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
5845,2021-01-02,5,0.0,0.000000,0.0,1.500000,0.000000,NaN,Saturday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
7306,2021-01-02,6,0.0,0.000000,0.0,5.500000,0.000000,NaN,Saturday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
2,2021-01-03,1,0.0,0.000000,0.0,0.333333,0.000000,NaN,Sunday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1463,2021-01-03,2,0.0,0.000000,0.0,1.333333,0.000000,NaN,Sunday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
2924,2021-01-03,3,0.0,0.000000,0.0,0.666667,0.000000,NaN,Sunday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
4385,2021-01-03,4,0.0,0.000000,0.0,1.333333,0.000000,NaN,Sunday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
5846,2021-01-03,5,0.0,0.000000,0.0,1.000000,0.000000,NaN,Sunday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
7307,2021-01-03,6,0.0,0.000000,0.0,3.666667,0.000000,NaN,Sunday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
3,2021-01-04,1,1.0,767.698506,1.0,0.500000,767.698506,767.698506,Monday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1464,2021-01-04,2,7.0,2717.770275,7.0,2.750000,388.252896,388.252896,Monday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
2925,2021-01-04,3,6.0,2485.334696,6.0,2.000000,414.222449,414.222449,Monday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
4386,2021-01-04,4,6.0,2097.884599,6.0,2.500000,349.647433,349.647433,Monday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
5847,2021-01-04,5,4.0,1556.520829,4.0,1.750000,389.130207,389.130207,Monday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
7308,2021-01-04,6,6.0,1873.923819,6.0,4.250000,312.320637,312.320637,Monday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
4,2021-01-05,1,4.0,1530.652495,4.0,1.200000,382.663124,382.663124,Tuesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1465,2021-01-05,2,6.0,2177.474405,6.0,3.400000,362.912401,362.912401,Tuesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
2926,2021-01-05,3,3.0,459.171861,3.0,2.200000,153.057287,153.057287,Tuesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
4387,2021-01-05,4,4.0,1138.464777,4.0,2.800000,284.616194,284.616194,Tuesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
5848,2021-01-05,5,6.0,2411.319418,6.0,2.600000,401.886570,401.886570,Tuesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
7309,2021-01-05,6,5.0,1933.867596,5.0,4.400000,386.773519,386.773519,Tuesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
5,2021-01-06,1,2.0,481.229090,2.0,1.333333,240.614545,240.614545,Wednesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1466,2021-01-06,2,5.0,1814.401207,5.0,3.666667,362.880241,362.880241,Wednesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
2927,2021-01-06,3,3.0,873.173883,3.0,2.333333,291.057961,291.057961,Wednesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
4388,2021-01-06,4,1.0,623.121539,1.0,2.500000,623.121539,623.121539,Wednesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
5849,2021-01-06,5,9.0,3670.918456,9.0,3.666667,407.879828,407.879828,Wednesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
7310,2021-01-06,6,10.0,4451.014037,10.0,5.333333,445.101404,445.101404,Wednesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
6,2021-01-07,1,2.0,681.674885,2.0,1.428571,340.837443,340.837443,Thursday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1467,2021-01-07,2,3.0,1158.118988,3.0,3.571429,386.039663,386.039663,Thursday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
2928,2021-01-07,3,1.0,91.109596,1.0,2.142857,91.109596,91.109596,Thursday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
4389,2021-01-07,4,3.0,1061.999574,3.0,2.571429,353.999858,353.999858,Thursday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
5850,2021-01-07,5,5.0,1908.757419,5.0,3.857143,381.751484,381.751484,Thursday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
7311,2021-01-07,6,5.0,1807.240388,5.0,5.285714,361.448078,361.448078,Thursday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
7,2021-01-08,1,3.0,928.592571,1.0,1.714286,309.530857,309.530857,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1468,2021-01-08,2,4.0,1421.370586,4.0,3.571429,355.342646,355.342646,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
2929,2021-01-08,3,4.0,858.552262,2.0,2.428571,214.638065,214.638065,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
4390,2021-01-08,4,3.0,729.095445,4.0,2.428571,243.031815,243.031815,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
5851,2021-01-08,5,11.0,4483.235672,3.0,5.000000,407.566879,407.566879,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
7312,2021-01-08,6,2.0,1009.940002,11.0,4.000000,504.970001,504.970001,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
8,2021-01-09,1,0.0,0.000000,0.0,1.714286,0.000000,NaN,Saturday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1469,2021-01-09,2,0.0,0.000000,0.0,3.571429,0.000000,NaN,Saturday,0,...,False,False,False,False,False,False,False,False,0.0,1.0

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8766 entries, 0 to 8765
Data columns (total 38 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   date                              8766 non-null   object
 1   section_id                        8766 non-null   int64
 2   employees_on_duty                 8766 non-null   float64
 3   total_task_time_minutes           8766 non-null   float64
 4   employees_on_duty_7days_ago       8766 non-null   float64
 5   employees_on_duty_rolling_mean_7  8766 non-null   float64
 6   avg_task_time_per_employee        8766 non-null   float64
 7   productivity_per_employee         5802 non-null   float64
 8   day_of_week                       8766 non-null   object
 9   holiday_name                      8766 non-null   object
 10  is_holiday                        8766 non-null   int64
 11  month                             8766 non-null   int64
 12  weekend                           8766 non-null   int64
 13  is_working_day                    8766 non-null   int64
 14  day_num                           8766 non-null   int64
 15  dow_Monday                        8766 non-null   bool
 16  dow_Tuesday                       8766 non-null   bool
 17  dow_Wednesday                     8766 non-null   bool
 18  dow_Thursday                      8766 non-null   bool
 19  dow_Friday                        8766 non-null   bool
 20  dow_Saturday                      8766 non-null   bool
 21  dow_Sunday                        8766 non-null   bool
 22  dow_sin                           8766 non-null   float64
 23  dow_cos                           8766 non-null   float64
 24  month_1                           8766 non-null   bool
 25  month_2                           8766 non-null   bool
 26  month_3                           8766 non-null   bool
 27  month_4                           8766 non-null   bool
 28  month_5                           8766 non-null   bool
 29  month_6                           8766 non-null   bool
 30  month_7                           8766 non-null   bool
 31  month_8                           8766 non-null   bool
 32  month_9                           8766 non-null   bool
 33  month_10                          8766 non-null   bool
 34  month_11                          8766 non-null   bool
 35  month_12                          8766 non-null   bool
 36  month_sin                         8766 non-null   float64
 37  month_cos                         8766 non-null   float64
dtypes: bool(19), float64(10), int64(6), object(3)
memory usage: 1.5+ MB

In [103]:
df.describe()

,section_id,employees_on_duty,total_task_time_minutes,employees_on_duty_7days_ago,employees_on_duty_rolling_mean_7,avg_task_time_per_employee,productivity_per_employee,is_holiday,month,weekend,is_working_day,day_num,dow_sin,dow_cos,month_sin,month_cos
count,8766.000000,8766.000000,8766.000000,8766.000000,8766.000000,8766.000000,5802.000000,8766.000000,8766.00000,8766.000000,8766.000000,8766.000000,8766.000000,8766.000000,8766.000000,8.766000e+03
mean,3.500000,2.951175,1100.233385,2.954711,2.951340,247.143595,373.398958,0.071869,6.52293,0.286105,0.661191,3.000684,-0.000964,0.000769,-0.003129,-4.149335e-03
std,1.707923,3.101278,1220.407475,3.102159,1.394343,193.968718,98.467726,0.258285,3.44890,0.451965,0.473332,2.001311,0.707079,0.707214,0.707019,7.072559e-01
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,62.805884,0.000000,1.00000,0.000000,0.000000,0.000000,-0.974928,-0.900969,-1.000000,-1.000000e+00
25%,2.000000,0.000000,0.000000,0.000000,1.857143,0.000000,320.365036,0.000000,4.00000,0.000000,0.000000,1.000000,-0.781831,-0.900969,-0.500000,-8.660254e-01
50%,3.500000,3.000000,850.261976,3.000000,2.571429,319.153554,370.885250,0.000000,7.00000,0.000000,1.000000,3.000000,0.000000,-0.222521,0.000000,-1.836970e-16
75%,5.000000,5.000000,1673.222167,5.000000,3.857143,390.538611,410.035209,0.000000,10.00000,1.000000,1.000000,5.000000,0.781831,0.623490,0.866025,5.000000e-01
max,6.000000,26.000000,10658.173092,26.000000,11.000000,839.351555,839.351555,1.000000,12.00000,1.000000,1.000000,6.000000,0.974928,1.000000,1.000000,1.000000e+00

In [104]:
df.head(40)

,date,section_id,employees_on_duty,total_task_time_minutes,employees_on_duty_7days_ago,employees_on_duty_rolling_mean_7,avg_task_time_per_employee,productivity_per_employee,day_of_week,holiday_name,...,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12,month_sin,month_cos
0,2021-01-01,1,1.0,834.569483,1.0,1.000000,834.569483,834.569483,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1461,2021-01-01,2,4.0,1525.368990,4.0,4.000000,381.342247,381.342247,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
2922,2021-01-01,3,2.0,662.095279,2.0,2.000000,331.047639,331.047639,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
4383,2021-01-01,4,4.0,1499.112620,4.0,4.000000,374.778155,374.778155,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
5844,2021-01-01,5,3.0,1238.533073,3.0,3.000000,412.844358,412.844358,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
7305,2021-01-01,6,11.0,4283.154645,11.0,11.000000,389.377695,389.377695,Friday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1,2021-01-02,1,0.0,0.000000,0.0,0.500000,0.000000,NaN,Saturday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1462,2021-01-02,2,0.0,0.000000,0.0,2.000000,0.000000,NaN,Saturday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
2923,2021-01-02,3,0.0,0.000000,0.0,1.000000,0.000000,NaN,Saturday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
4384,2021-01-02,4,0.0,0.000000,0.0,2.000000,0.000000,NaN,Saturday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
5845,2021-01-02,5,0.0,0.000000,0.0,1.500000,0.000000,NaN,Saturday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
7306,2021-01-02,6,0.0,0.000000,0.0,5.500000,0.000000,NaN,Saturday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
2,2021-01-03,1,0.0,0.000000,0.0,0.333333,0.000000,NaN,Sunday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1463,2021-01-03,2,0.0,0.000000,0.0,1.333333,0.000000,NaN,Sunday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
2924,2021-01-03,3,0.0,0.000000,0.0,0.666667,0.000000,NaN,Sunday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
4385,2021-01-03,4,0.0,0.000000,0.0,1.333333,0.000000,NaN,Sunday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
5846,2021-01-03,5,0.0,0.000000,0.0,1.000000,0.000000,NaN,Sunday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
7307,2021-01-03,6,0.0,0.000000,0.0,3.666667,0.000000,NaN,Sunday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
3,2021-01-04,1,1.0,767.698506,1.0,0.500000,767.698506,767.698506,Monday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1464,2021-01-04,2,7.0,2717.770275,7.0,2.750000,388.252896,388.252896,Monday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
2925,2021-01-04,3,6.0,2485.334696,6.0,2.000000,414.222449,414.222449,Monday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
4386,2021-01-04,4,6.0,2097.884599,6.0,2.500000,349.647433,349.647433,Monday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
5847,2021-01-04,5,4.0,1556.520829,4.0,1.750000,389.130207,389.130207,Monday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
7308,2021-01-04,6,6.0,1873.923819,6.0,4.250000,312.320637,312.320637,Monday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
4,2021-01-05,1,4.0,1530.652495,4.0,1.200000,382.663124,382.663124,Tuesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1465,2021-01-05,2,6.0,2177.474405,6.0,3.400000,362.912401,362.912401,Tuesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
2926,2021-01-05,3,3.0,459.171861,3.0,2.200000,153.057287,153.057287,Tuesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
4387,2021-01-05,4,4.0,1138.464777,4.0,2.800000,284.616194,284.616194,Tuesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
5848,2021-01-05,5,6.0,2411.319418,6.0,2.600000,401.886570,401.886570,Tuesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
7309,2021-01-05,6,5.0,1933.867596,5.0,4.400000,386.773519,386.773519,Tuesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
5,2021-01-06,1,2.0,481.229090,2.0,1.333333,240.614545,240.614545,Wednesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1466,2021-01-06,2,5.0,1814.401207,5.0,3.666667,362.880241,362.880241,Wednesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
2927,2021-01-06,3,3.0,873.173883,3.0,2.333333,291.057961,291.057961,Wednesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
4388,2021-01-06,4,1.0,623.121539,1.0,2.500000,623.121539,623.121539,Wednesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
5849,2021-01-06,5,9.0,3670.918456,9.0,3.666667,407.879828,407.879828,Wednesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
7310,2021-01-06,6,10.0,4451.014037,10.0,5.333333,445.101404,445.101404,Wednesday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
6,2021-01-07,1,2.0,681.674885,2.0,1.428571,340.837443,340.837443,Thursday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
1467,2021-01-07,2,3.0,1158.118988,3.0,3.571429,386.039663,386.039663,Thursday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
2928,2021-01-07,3,1.0,91.109596,1.0,2.142857,91.109596,91.109596,Thursday,0,...,False,False,False,False,False,False,False,False,0.0,1.0
4389,2021-01-07,4,3.0,1061.999574,3.0,2.571429,353.999858,353.999858,Thursday,0,...,False,False,False,False,False,False,False,False,0.0,1.0